<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :horario_mensal %><br />
    <%= f.number_field :horario_mensal %>
  </div>

  <div class="field">
    <%= f.label :valor_da_hora %><br />
    <%= f.number_field :valor_da_hora %>
  </div>

  <div class="field">
    <%= f.label :entrada_usp %><br />
    <%= f.date_select :entrada_usp %>
  </div>

  <div class="field">
    <%= f.label "saida prevista usp"%><br />
    <%= f.date_select :saida_usp %>
  </div>

  <div class="field">
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf %>
  </div>

  <div class="field">
    <%= f.label :banco %><br />
    <%= f.text_field :banco %>
  </div>

  <div class="field">
    <%= f.label :conta %><br />
    <%= f.number_field :conta %>
  </div>

  <div class="field">
    <%= f.label :agencia %><br />
    <%= f.number_field :agencia %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
