  <head>
    <title><%= t("simlab.titulo") %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "bootstrap" %>
    <script src="/assets/client.js?key=98853929c4100832c39e0f3c505d0332"></script>
    <%= javascript_include_tag "sinlab" %>
    <%= javascript_include_tag "sliders" %>
    <%= javascript_include_tag "trello" %>
    <%= javascript_include_tag "jquery.mask.min.js" %>
    <%= javascript_include_tag "jquery-ui-1.10.3.custom.min" %>
    <%= csrf_meta_tags %>
  </head>
  <body onload="checkTrello(loadSimpleCards);">
    <div style="padding: 10px 35px">
      <div id="upper-bar">
        <div class="row-fluid">
          <div class="span10"></div>
          <div class="span2" style="margin-left: 15px">
            <img alt="InfoXYZ" src="/images/logo.jpg" style="padding: 15px 0px; height: 30px; float: right;"></img>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span2 dropdown">
            <ul class="top-nav dropdown-menu" style="display: block; position: static;">
              <%if can? :update, :validations%>
                <li> <%= link_to t('funcionalidade.validacao.atividade'), validar_atividades_path, :class => "nav-links" %> </li>
              <%else%>
                <li> <%= link_to t('funcionalidade.log.atividade'), log_de_atividades_banco_de_horas_path, :class => "nav-links" %> </li>
              <%end%>
              <li> <%= link_to 'Meu Banco de Horas', periodos_dias_path, :class => "nav-links" %> </li>
              <% if can? :create_or_update, Pagamento %>
                <li> <%= link_to "Pagamentos", pagamentos_path, :class => "nav-links" %> </li>
              <% else %>
                <li> <%= link_to "Meus Pagamentos", meses_pagamentos_path, :class => "nav-links" %> </li>
              <% end %>
              <% if can? :manage, Cartao %>
                <li> <%= link_to "Estatisticas", cartoes_atividades_path, :class => "nav-links" %> </li>
              <% end %>
            </ul>
          </div>

          <div class="span2 dropdown">
            <ul class="top-nav dropdown-menu" style="display: block; position: static;">
              <%if can? :index, Ausencia %>
                <li> <%=  link_to "Ausências", ausencias_path, :class => "nav-links"%> </li>
              <% end %>
              <li> <%=  link_to "Projetos", projetos_path, :class => "nav-links"%> </li>
              <%if can? :see, Usuario%>
                <li> <%=  link_to "Usuários", usuarios_path(:status => "true"), :class => "nav-links"%> </li>
              <%else%>
                <li> <%=  link_to "Meu Perfil", edit_usuario_path(current_usuario), :class => "nav-links"%> </li>
              <%end%>
            </ul>
          </div>

          <div class="span3 top-user offset1" >
            Bem vindo, <b style="color: rgb(33, 147, 189);"><%= current_usuario.nome%>! </b>
            <br/>
            <%= link_to "Alterar senha", edit_usuario_registration_path %>
            <br/>
            <%= link_to "Sair", destroy_usuario_session_path, :method => :delete %>
          </div>

          <div class="span3">
            <h4 style="margin: 0"> Trello </h4>
            <div class="loggedout">
              <a class="btn default-button" id="connectLink" onclick="loginTrello(loadSimpleCards)"> Conectar ao Trello</a>
            </div>

            <div class="loggedin">
              <div id="header" style="border: none">
                Logado como <b class="fullName"></b>
                <br/>
                <a id="disconnect" onclick="logoutTrello()">Log Out</a>
              </div>
            </div>
          </div>
        </div>
        <div class="messages">
          <%= render 'layouts/messages'%>
        </div>
      </div>

<div class="blue-text" style="margin-left: 30px">
 Altere sua senha
</div>
<div class="blue-line">  </div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
   <div class="div_edit">
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Aguardando confirmação de: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label "Nova senha" %> <br />
  <%= f.password_field :password, :autocomplete => "off" %></div>
  <br />
  <div><%= f.label "Confirmação da nova senha" %>
  <%= f.password_field :password_confirmation %></div>
  <br />
  <div><%= f.label "Senha atual" %>
  <%= f.password_field :current_password %></div>
  <br />
  <%= link_to 'Cancelar', :back , :style=>"float: left;margin-left: 21px;", :class => "btn default-button"%>
<%= f.submit "Salvar", :style => "float: left;margin-left: 10px;", :class => "btn default-button"%>
  <br />
<% end %>
   </div>

    </div>
  </body>
