<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :horario_mensal %><br />
    <%= f.number_field :horario_mensal %>
  </div>

  <div class="field">
    <%= f.label :valor_da_hora %><br />
    <%= f.number_field :valor_da_hora %>
  </div>

  <div class="field">
    <%= f.label :entrada_usp %><br />
    <%= f.date_select :entrada_usp %>
  </div>

  <div class="field">
    <%= f.label "saida prevista usp"%><br />
    <%= f.date_select :saida_usp %>
  </div>

  <div class="field">
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf %>
  </div>

  <div class="field">
    <%= f.label :banco %><br />
    <%= f.text_field :banco %>
  </div>

  <div class="field">
    <%= f.label :conta %><i> (somente numeros)</i><br />
    <%= f.number_field :conta %>
  </div>

  <div class="field">
    <%= f.label :agencia  %><i> (somente numeros)</i><br />
    <%= f.number_field :agencia %>
  </div>


  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit t(".submit") %></div>
<% end %>

<%= render "devise/shared/links" %>
