<h1>Resumo</h1>

<table>
  <tr>
    <th>Projeto</th>
    <th>Horas feitas</th>
    <th>Horas pretendidas</th>
    <th>Valor gasto</th>
    <th>Valor pretendido</th>
    <th></th>
  </tr>
<% @horas_e_investimento.each do |projeto| %>
  <tr>
    <td><%= projeto[0] %></td>
    <td><%= projeto[1][0] %></td>
    <td><%= Projeto.find_by_name(projeto[0]).horas_totais%></td>
    <td><%= projeto[1][1]%></td>
    <td><%= Projeto.find_by_name(projeto[0]).valor %></td>
  </tr>
<% end %>
</table>
