<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @banco_de_hora.data %>
</p>

<p>
  <b>Horas:</b>
  <%= @banco_de_hora.horas %>
</p>

<p>
  <b>Observacao:</b>
  <%= @banco_de_hora.observacao %>
</p>

<p>
  <b>Projeto:</b>
  <%= @banco_de_hora.projeto_id %>
</p>

<p>
  <b>Usuario:</b>
  <%= @banco_de_hora.usuario_id %>
</p>


<%= link_to 'Edit', edit_banco_de_hora_path(@banco_de_hora) %> |
<%= link_to 'Back', banco_de_horas_path %>
