<div class="blue-line" style="margin: 20px 10px">  </div>

<%= form_for(@ausencia, :url => :ausencias, :method => :post, :html => {:multipart =>true}) do |f| %>
  <%= hidden_field_tag :usuario_id, @usuario_id %>
  <%= hidden_field_tag :data, @data %>
  <%= hidden_field_tag :dia_id, @dia_id %>
  <%= hidden_field_tag :tipo, params[:tipo] %>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <%= f.label :justificativa %>
        <%= f.text_area :justificativa, :style => "height: 40px; width: 90%" %>
        <div class="actions">
          <%= f.submit "Ok", :class => "btn default-button" %>
        </div>
      </div>

      <div class="col-md-5">
        <h4>Status </h4>
        <% if @ausencia.abonada? %>
          Ausencia foi marcada como falta abonada por:<br/>
          <%= @ausencia.avaliador.nome %> <br/>
          <%= "#{@ausencia.horas} horas serão contadas como trabalhadas" %>
        <% else %>
          Falta justificada
        <% end %>
        <% unless @ausencia.mensagem.blank? %>
          <h4> Mensagem </h4>
          <%= @ausencia.mensagem %>
        <% end %>
      </div>
      <div class="col-md-2">
        <%= f.label "Anexo" %>
        <%= file_field_tag "anexo" %>
      </div>
    </div>
  </div>
<% end %>
