<div class="blue-line" style="margin: 20px 10px">  </div>

<%= form_for(@ausencia, :html => {:multipart =>true}) do |f| %>
  <%= f.hidden_field :dia_id, :value => @dia.try(:id) %>
  <%= hidden_field_tag :tipo, @tipo %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-4">
        <%= f.label :justificativa %>
        <%= f.text_area :justificativa, :style => "height: 40px; width: 90%" %>
        <div class="actions">
          <%= f.submit "Ok", :class => "btn default-button" %>
        </div>
      </div>
      <div class="col-md-2">
        <%= f.label :projeto_id %>
        <%= f.select :projeto_id, options_for_select(@projetos)%>
      </div>
      <div class="col-md-3">
        <%= f.label "Anexo" %>
        <%= file_field_tag "anexo" %>
      </div>
      <div class="col-md-3">
        <h4>Status </h4>
        <% if @ausencia.abonada? %>
          Ausencia foi marcada como falta abonada por:<br/>
          <%= @ausencia.avaliador.nome %> <br/>
          <%= "#{@ausencia.horas} horas serão contadas como trabalhadas" %>
        <% else %>
          Falta justificada
        <% end %>
        <% unless @ausencia.mensagem.blank? %>
          <h4> Mensagem </h4>
          <%= @ausencia.mensagem %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
