
<div class="blue-text" style="margin-left: 30px">
 Edição de Usuários
</div>
<div class="blue-line">  </div>


<%= form_for(@user, :url => usuario_path, :validate => true, :html => {"data-type" => :json}) do |f| %>
      <div class="div_edit">
      <div class="container-fluid">

        <div class="row-fluid">
        <div class="span6">
        <%= f.label :nome %>
        <%= f.text_field :nome, :style => "width: 100%"%>
        </div>
        <div class="span5 offset1">
         <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, :style => "width: 85%" %>
        </div>
      </div>
      </div>


      <div class="container-fluid">

        <div class="row-fluid">
          <div class="span7">
            <div class="field">
              <%= f.label :horario_mensal %>
              <%= f.number_field :horario_mensal, :style => "width: 65%" %>
            </div>
            <div class="field">
              <%= f.label :valor_da_hora %>
              <%= f.number_field :valor_da_hora , :style => "width: 65%"%>
            </div>

            <div class="field">
              <%= f.label :entrada_usp %>
              <%= f.date_select :entrada_usp, {}, :style => "width: 100px" %>
            </div>

            <div class="field">
              <%= f.label "saida prevista usp"%>
              <%= f.date_select :saida_usp, {}, :style => "width: 100px" %>
            </div>

           
          </div>
          <div class="span5">

            <div class="field">
              <%= f.label :cpf %>
              <%= f.text_field :cpf , :style => "width: 85%"%>
            </div>

            <div class="field">
              <%= f.label :banco %>
              <%= f.text_field :banco , :style => "width: 85%"%>
            </div>

            <div class="field">
              <%= f.label :conta %>
              <%= f.number_field :conta , :style => "width: 85%"%>
            </div>

            <div class="field">
              <%= f.label :agencia %>
              <%= f.number_field :agencia , :style => "width: 85%"%>
            </div>

           
          </div>
        </div>
      </div>

      <br/>
      <div class="actions">
        <%= link_to 'Cancelar', :back , :style=>"float: left;margin-left: 21px;", :class => "btn default-button"%>
        <%= f.submit "Salvar", :style => "float: left;margin-left: 10px;", :class => "btn default-button"%>
      </div>
      </div>
<br />
    <% end %>
