<%= nested_form_for(@projeto, :validate => true, :html => {"data-type" => :json}) do |f| %>

  <div class="div_edit">
    <div class="row-fluid">
      <div class="span7">
        <div class="field">
          <%= f.label :nome %>
          <%= f.text_field :nome%>
        </div>

        <div class="field">
          <%= f.label :data_de_inicio %>
          <%= f.date_select :data_de_inicio, {}, :style => "width: 100px" %>
        </div>

        <div class="field">
          <%= f.label :descricao %>
          <%= f.text_area :descricao, :style => "height: 100px; width: 300px"%>
        </div>

        <div class="field">
          <%= f.label :valor %><br />
          <%= f.text_field :valor %>
        </div>

        <div class="field">
          <%= f.label :horas_totais %><br />
          <%= f.number_field :horas_totais %>
        </div>
      </div>
      <div class="span5">
        <h2>Colaboradores</h2>
        <% project_users = @projeto.usuarios.map{|user| [user.nome, user.id]}%>
        <%= f.fields_for :workon do |worker| %>
          <%= worker.select :usuario_id, options_for_select(acha_usuarios.unshift(project_users.pop)) %>
          <%= worker.link_to_remove '<i class="icon-trash icon-2x"> </i>'.html_safe %>
        <% end %>
        <p><%= f.link_to_add "Adicionar pessoa", :workon %></p>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Salvar", :class => "btn default-button"%>
      <%= link_to "Cancelar", projetos_path, :class => "btn default-button" %>
    </div>
    <br />
  </div>
<% end %>
