<% if can? :criar_campos, current_usuario %>
  <%= link_to "Editar Campos", {controller: 'projetos', action: 'campos_cadastro', id: @projeto.id}, {class: 'btn default-button'} %>
<% end %>

<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
  <% @projeto.campos.group_by {|campo| campo.categoria }.each do |categoria, campos_da_categoria| %>
    <% cat = categoria.gsub( /\s/, '_' ) %>
    <li><a href="#<%= cat %>" data-toggle="tab"><%= categoria %></a></li>
  <% end %>
  </ul>
  <div class="tab-content">

<% @projeto.campos.group_by {|campo| campo.categoria }.each do |categoria, campos_da_categoria| %>
    <% cat = categoria.gsub( /\s/, '_' ) %>
    <div class="tab-pane" id="<%= cat %>">
      <div class="form-horizontal">
      <% campos_da_categoria.each do |campo| %>
      <div class="form-group">
        <%= label_tag campo.nome, campo.nome, {class: "col-sm-2"} %>
        <%= text_field_tag campo.id, campo.dados_do_usuario(current_usuario), {name: "dados[#{campo.id}]"} %>
      </div>
      <% end %>
      </div>
    </div>
<% end %>
  </div>

</div>

<script>
  <% @projeto.campos.group_by {|campo| campo.categoria }.each do |categoria, campos_da_categoria| %>
    <% campos_da_categoria.each do |campo| %>
      $("[name='<%= "dados[#{campo.id}]" %>']").mask("<%= campo.formato %>");
    <% end %>
  <% end %>
</script>

<%= render partial: 'nav_bar', locals: {f: f} %>
