<div class="blue-text" style="margin-left: 30px">
  Edição de Projetos
</div>
<div class="blue-line">  </div>

<div class="div_edit" style="margin: 10px;">
  <%= nested_form_for(@projeto, :validate => true, :html => {"data-type" => :json}) do |f| %>
    <ul class="nav nav-tabs" style="margin-right: 10px;">
      <li class="active"><a href="#dadosproj" data-toggle="tab">Dados do Projeto</a></li>
      <li><a href="#relproj" data-toggle="tab">Relacionamento de Projetos</a></li>
      <li><a href="#equipe" data-toggle="tab">Equipe</a></li>
      <li><a href="#meusdados" data-toggle="tab">Meus Dados</a></li>
      <li><a href="#configcartoes" data-toggle="tab">Configurações de cartões</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="dadosproj">
        <%= render partial: 'projetos/edit/dados_projeto', locals: {f: f} %>
      </div>

      <div class="tab-pane" id="relproj">
        <%= render partial: 'projetos/edit/relacionamento_projeto', locals: {f: f} %>
      </div>

      <div class="tab-pane" id="equipe">
        <% unless @projeto.ativo? %>
          <%= render partial: 'projetos/show/equipe', locals: {f: f} %>
        <% else %>
          <%= render partial: 'projetos/edit/equipe', locals: {f: f} %>
        <% end %>
      </div>

      <div class="tab-pane" id="meusdados">
        <%= render partial: 'projetos/edit/meus_dados', locals: {f: f} %>
      </div>

      <div class="tab-pane" id="configcartoes">
        <%= render partial: 'projetos/edit/configuracoes_cartoes', locals: {f: f} %>
      </div>
    </div>
    <%= render partial: 'nav_bar', locals: {f: f} %>
  <% end %>
</div>
