<div class="blue-text" style="margin-left: 30px">
  Edição de Projetos
</div>
<div class="blue-line">  </div>

<%= nested_form_for(@projeto, :validate => true, :html => {"data-type" => :json}) do |f| %>

  <div class="div_edit" style="margin: 10px;">

    <ul class="nav nav-tabs" style="margin-right: 10px;">
      <li class="active"><a href="#ausencias" data-toggle="tab">Ausências</a></li>
      <li><a href="#dadosproj" data-toggle="tab">Dados do Projeto</a></li>
      <li><a href="#relproj" data-toggle="tab">Relacionamento de Projetos</a></li>
      <li><a href="#equipe" data-toggle="tab">Equipe</a></li>
      <li><a href="#meusdados" data-toggle="tab">Meus Dados</a></li>
      <% if @autorizado %>
        <li><a href="#atividades" data-toggle="tab">Atividades</a></li>
      <% end %>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="ausencias">
        <%= render :partial => 'ausencias' %>
      </div>

      <div class="tab-pane" id="dadosproj">
        <%= render :partial => 'dados_projeto', locals: {f: f} %>
      </div>

      <div class="tab-pane" id="relproj">
        <%= render :partial => 'relacionamento_projeto', locals: {f: f} %>
      </div>

      <div class="tab-pane" id="equipe">
        <%= render partial: 'equipe', locals: {f: f} %>
      </div>

      <div class="tab-pane" id="meusdados">
        <%= render partial: 'meus_dados', locals: {f: f} %>
      </div>

      <% if @autorizado %>
        <div class="tab-pane" id="atividades">
          <%= render partial: 'atividades', locals: {f: f} %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
