<div class="blue-text" style="margin-left: 30px">
  Projetos
</div>

<div class="blue-line">  </div>

<table class="list-table">
  <tr>
<th>Nome do projeto</th>
<th>Data de início</th>
<th>Horas totais</th>
</tr>
<% @projetos.each do |projeto| %>
  <tr>
    <td><%= link_to projeto.nome, projeto_path(projeto) %></td>
    <td><%= projeto.data_de_inicio %></td>
    <td><%= projeto.horas_totais %></td>
  </tr>
<% end %>
</table>

<%= link_to "Adicionar", "#new-projeto-modal", :class => "btn default-button",
  :style => "margin: 15px;", "data-toggle" => "modal", :role => "button" %>

<%= render :partial => "modal"%>

