
<div class="blue-text" style="margin-left: 30px">
  Projetos
</div>
<div class="blue-line">  </div>

<div class="field">
        <b>Name:</b>
        <%= @projeto.nome  %>
      </div>
<div class="field">
       <b>Data de inicio:</b>

  <%= @projeto.data_de_inicio %>
      </div>
<div class="field">
        <b>Descricao:</b>
  <%= @projeto.descricao %>
      </div>
<div class="field">
       <b>Valor:</b>
  <%= @projeto.valor.to_s + " reais" %>
      </div>
<div class="field">
       <b>Horas totais:</b>
  <%= @projeto.horas_totais %>
      </div>
     

<%= link_to 'Edit', edit_projeto_path(@projeto) %> |
<%= link_to 'Back', projetos_path %>
