<div>
  Período
  <input type="text" id="datepicker1" size=10 value="<%= @inicio.to_date %>" class="datepicker">
  a <input type="text" id="datepicker2" size=10 value="<%= @fim.to_date %>" class="datepicker"> 
  <a tpg="<%= projeto_path() %>" href="#" onclick="ver_periodo_novo_proj(this);">Ver Novo Periodo</a>
</div>

<table class="day-table" style="width: 100%">
  <tr>
    <% t("date.abbr_day_names").each do |p| %>
      <th><%= p %></th>
    <% end %>
  </tr>
  <tr>
    <% dia_da_semana = 0 %>
    <% while @inicio.wday != dia_da_semana %>
      <% dia_da_semana = dia_da_semana + 1 %>
      <td></td>
    <% end %>
    <% (@inicio..@fim).each do |data| %>
      <% ausentes = Array.new %>
      <td>
        <a href="#" class="day-link blue-link" ondragstart="return false" draggable="false" >
          <div class='panel-scrollable' style='height: 100px'>
            <%= data.strftime("%d/%b/%Y") %>
            <% if !data.saturday? and !data.sunday? and !data.holiday?('br')%>
              <% unless @ausencias[data].nil? %>
                <% @ausencias[data].collect{ |a| a.usuario}.each do |usuario| %>
                  <% ausentes << usuario %>
                  <div style="display: block;"> <b> <%= usuario.nome %> </b> </div>
                <% end %>
              <% end %>

              <% if data < @hoje and @projeto.data_de_inicio <= data %>
                <% if @atividades[data].nil? %>
                  <% @equipe.each do |workon| %>
                    <% if !ausentes.include?(workon.usuario) and workon.data_inicio <= data and
                        workon.usuario.existe_contrato_em(data) %>
                      <div style="display: block;"><%= workon.usuario.nome %></div>
                    <% end %>  
                  <% end %>
                <% else %>
                  <% working_users = @atividades[data].collect{|a| a.usuario.nome} %>
                  <% @equipe.each do |workon| %>
                    <% if !working_users.include?(workon.usuario) and !ausentes.include?(workon.usuario) and
                        workon.data_inicio <= data and workon.usuario.existe_contrato_em(data) %>
                      <div style="display: block;"> <%= workon.usuario.nome %> </div>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>  
            <% end %>
          </div>
        </a>
      </td>
      <% if data.wday == 6 %>
      </tr><tr>
      <% end %>
    <% end %>
  </tr>
</table>
