<div class="form-horizontal">
  <h3> Dados do Projeto </h3>
  <div class="form-group">
    <%= f.label :nome, :class => "col-sm-2" %>
    <%= @projeto.nome %>
  </div>

  <div class="form-group">
    <%= f.label :descricao, :class => "col-sm-2" %>
    <%= @projeto.descricao %>
  </div>

  <div class="form-group">
    <%= f.label :data_de_inicio, :class => "col-sm-2" %>
    <%= @projeto.data_de_inicio %>
  </div>
</div>
