<div class="blue-text" style="margin-left: 30px">
 Esqueceu sua senha?
</div>
<div class="blue-line">  </div>
 <div class="div_edit">
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label "Digite o email cadastrado" %><br />
  <%= f.email_field :email, :autofocus => true %></div>
<br />
  <div><%= f.submit "Enviar", :class => "btn default-button" %>
  <%= link_to 'Cancelar', :back, :class => "btn default-button"%></div>
<% end %>
 </div>

