<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 60%; margin-left: -30%">

  <div class="modal-body">
    <%= form_for(@banco_de_hora) do |f| %>
      <% if @banco_de_hora.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@banco_de_hora.errors.count, "error") %> prohibited this banco_de_hora from being saved:</h2>

          <ul>
            <% @banco_de_hora.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.hidden_field :usuario_id, :value => current_usuario.id %>

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span4">

            <div class="field">
              <%= f.label :dia %>
              <%= f.number_field :data %>
            </div>
            <div class="field">
              <%= f.label :entrada %>
              <%= text_field_tag :entrada %>
            </div>
            <div class="field">
              <%= f.label :saida %>
              <%= text_field_tag :saida %>
            </div>
            <div class="field">
              <%= f.label :intervalo %>
              <%= text_field_tag :intervalo %>
            </div>
          </div>
          <div class="span4">
            <div class="field">
              <%= f.label :horas_gastas %>
              <%= f.text_field :horas %>
            </div> 
            <div class="field">
              <%= f.label :projeto_id %>
              <%= f.select :projeto_id, options_from_collection_for_select(@projetos, :id, :nome) %>
            </div>
            <div class="field">
              <%= f.label :observacao %>
              <%= f.text_area :observacao, :style => "height: 100px" %>
            </div>
          </div>
          <div class="span4">
            Atividades
            <div class="panel-scrollable">
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>

