<div id="new-banco-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 60%; margin-left: -30%">
  <div class="modal-body">
    <%= nested_form_for(@dia, :url => banco_de_horas_path) do |f| %>
      <% if @dia.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@dia.errors.count, "error") %> prohibited this banco_de_hora from being saved:</h2>
          <ul>
            <% @dia.errors.full_messages.each do |msg| %>
              <li>
                <%= msg %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= hidden_field_tag :user_id, @user.id %>
      <%= hidden_field_tag :ano, @year %>
      <%= hidden_field_tag :mes, @month.id %>

      <div>
        <div>
          <table width="100%">
            <tr>
              <td><%= f.label :dia %></td>
              <td><%= f.label :entrada %></td>
              <td><%= f.label :saida %></td>
              <td><%= f.label :intervalo %></td>
            </tr>
            <tr>
              <td><%= f.text_field :numero, :value => Date.today.day %></td>
               <td><%= f.time_select :entrada, {:default => Time.new(2000,1,1,0,0,0,0)}, :style => 'width: 100px;' %></td>
              <td><%= f.time_select :saida, {:default => Time.new(2000,1,1,0,0,0,0)}, :style => 'width: 100px;' %></td>
               <td><%= f.time_select :intervalo, {:default => Time.new(2000,1,1,0,0,0,0)} , :style => 'width: 100px;'%></td>
            </tr>
          </table>
        </div>
        <div style="width: 100%">
          <h3>Atividades</h3>
          <%= f.fields_for :atividades do |atividade_form| %>
          <div style="float: none">
            <div>
              <table width = "100%">
                <tr>
                  <td><%= atividade_form.label :projeto_id %></td>
                  <td><%= atividade_form.label :horas %></td>
                  <td><%= atividade_form.label :observacao, "Observação" %></td>
                </tr>
                <tr>
                  <td style="margin-left: 20%"> <%= atividade_form.select :projeto_id, options_for_select(acha_projetos) %></td>
                  <td><%= atividade_form.time_select :horas, {:default => Time.new(2000,1,1,0,0,0,0)} , :style => 'width: 100px;'%></td>
                  <td><%= atividade_form.text_area :observacao, :style => "width: 500px; height: 40px;" %></td>
                </tr>
              </table>

            </div>
            <div>
              <%= atividade_form.link_to_remove "Remover Atividade", :class=>"btn default-button"%>
            </div>
          </div>
          <% end %>

          <%= f.link_to_add "Incluir Atividade", :atividades, :class=>"btn default-button", :style =>"float:right; margin-top: 10px"%>
        </div>
        <table width="100%">
          <tr>
            <td>
              <div class="actions" style="float: left; margin-right: 20px;">
                <button class="btn default-button" data-dismiss="modal" aria-hidden="true">
                  Cancelar
                </button>
                <%= f.submit "Ok", :class => "btn default-button"%>
              </div>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
</div>    
