<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="width: 50%; margin-left: -25%">

  <div class="modal-body">
    <%= form_for(@banco_de_hora) do |f| %>
      <% if @banco_de_hora.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@banco_de_hora.errors.count, "error") %> prohibited this banco_de_hora from being saved:</h2>

          <ul>
            <% @banco_de_hora.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.hidden_field :usuario_id, :value => current_usuario.id %>

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span4">
            <div class="field">
              <%= f.label :dia %>
              <%= f.number_field :data %>
            </div>
            <div class="field">
              <%= f.label :entrada %>
              <%= text_field_tag :entrada %>
            </div>
            <div class="field">
              <%= f.label :saida %>
              <%= text_field_tag :saida %>
            </div>
            <div class="field">
              <%= f.label :intervalo %>
              <%= text_field_tag :intervalo %>
            </div>
          </div>
          <div class="span4">
            <div class="field">
              <%= f.label :horas_gastas %>
              <%= f.text_field :horas %>
            </div>
            <div class="field">
              <%= f.label :projeto_id %>
              <%= f.select :projeto_id, options_for_select(acha_projetos) %>
            </div>
            <div class="field">
              <%= f.label :observações %>
              <%= f.text_area :observacao, :style => "height: 100px" %>
            </div>

            <%= link_to "Incluir Atividade", "\#", :class => "btn default-button"%>
          </div>
          <div class="span4">
            Atividades
            <div class="panel-scrollable">
            </div>
          </div>
        </div>
      </div>
      <div class="actions" style="float: right; margin-right: 20px;">
        <button class="btn default-button" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <%= f.submit "Ok", :class => "btn default-button"%>
      </div>
    <% end %>
  </div>
</div>

