<script>
function validate()
{
  var atividadeOBS = document.getElementById("dia_atividades_attributes_0_observacao").value;
  var horas_trabalhadas = pega_horas_dia();
  var horas_atividade = pega_horas_atividade();

  return(
    validar_horas(horas_trabalhadas, horas_atividade) &&
    validar_atividade_observacao(atividadeOBS)
  );

}

function validar_horas(hDia, hAtividade)
{
  if(hDia <= 0 || hAtividade <= 0 || hAtividade > hDia)
  {
    if(hDia <=0)
      alert("horas no dia inválidas");
    else if(hAtividade <= 0)
      alert("horas da atividade inválidas");
    else
      alert("atividade não pode ter mais horas que o dia ¬¬");
    return false;
  }
  else
    return true;
}

function validar_atividade_observacao(obs)
{
  if(obs == "")
  {
    alert("Atividade não pode ficar sem observação!");
    return false;
  }
  else
    return true;
}

function pega_horas_dia()
{

  var entradaH = document.getElementById("dia_0_entrada").value;
  var entradaM = document.getElementById("dia_0_entrada").nextElementSibling.value;
  var saidaH = document.getElementById("dia_0_saida").value;
  var saidaM = document.getElementById("dia_0_saida").nextElementSibling.value;
  var intervaloH = document.getElementById("dia_0_intervalo").value;
  var intervaloM = document.getElementById("dia_0_intervalo").nextElementSibling.value;

  var entrada = entradaH * 60 + parseInt(entradaM, 10);
  var saida = saidaH * 60 + parseInt(saidaM, 10);
  var intervalo = intervaloH * 60 + parseInt(intervaloM, 10);

  return saida - entrada - intervalo;
}

function pega_horas_atividade()
{
  var atividadeH = document.getElementById("dia_atividades_attributes_0_duracao_4i").value;
  var atividadeM = document.getElementById("dia_atividades_attributes_0_duracao_5i").value;

  return(atividadeH *60 + parseInt(atividadeM));
}

function recalculaHoras()
{
 var max_horas = pega_horas_dia();
  document.getElementById("dia_atividades_attributes_0_duracao_4i").selectedIndex = max_horas/60;
  document.getElementById("dia_atividades_attributes_0_duracao_5i").selectedIndex = max_horas%60;

}
</script>

<div id="new-banco-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 60%; margin-left: -30%">
  <div class="modal-body">

  <% @dias.each do |dia| %>
    <div id = "<%= dia.id%>",  style="display:none">
      <%= form_for(dia, url: banco_de_hora_path(dia)) do |f| %>
        <%= hidden_field_tag :user_id, @user.id %>
        <%= hidden_field_tag :ano, @year %>
        <%= hidden_field_tag :mes, @month.id %>
        <table width="100%">
          <tr>
            <td><%= f.label :dia %></td>
            <td><%= f.label :entrada %></td>
            <td><%= f.label :saida %></td>
            <td><%= f.label :intervalo %></td>
          </tr>
          <tr>
            <td width=24%><%= f.text_field :numero, :style => 'width: 15%'%></td>
            <td><%= f.time_select :entrada, {}, :style => 'width: 35%;', :onchange => "recalculaHoras()" %></td>
            <td><%= f.time_select :saida, {}, :style => 'width: 35%;', :onchange => "recalculaHoras()" %></td>
            <td><%= f.time_select :intervalo_time, {} , :style => 'width: 35%;', :onchange => "recalculaHoras()"%></td>
          </tr>
        </table>
        <table width="100%">
          <tr>
            <td>
              <div class="actions" style="float: left; margin-right: 20px;">
                <button class="btn default-button" data-dismiss="modal" aria-hidden="true">
                  Cancelar
                </button>
                <%= f.submit "Ok", :class => "btn default-button"%>
              </div>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  <% end %>

  <div id = "0",  style="display:none">
    <%= nested_form_for(@dia, :url => banco_de_horas_path) do |f| %>
      <%= hidden_field_tag :user_id, @user.id %>
      <%= hidden_field_tag :ano, @year %>
      <%= hidden_field_tag :mes, @month.id %>

      <div>
        <div>
          <table width="100%">
            <tr>
              <td><%= f.label :dia %></td>
              <td><%= f.label :entrada %></td>
              <td><%= f.label :saida %></td>
              <td><%= f.label :intervalo %></td>
           </tr>
            <tr>
              <td width=24%><%= f.text_field :numero, :value => Date.today.day, :style => 'width: 7%'%></td>
              <td><%= f.time_select :entrada, {:default => Time.new(2000,1,1,0,0,0,0)}, :style => 'width: 35%;', :onchange => "recalculaHoras()", :id => "dia_0_entrada" %></td>
              <td><%= f.time_select :saida, {:default => Time.new(2000,1,1,0,0,0,0)}, :style => 'width: 35%;', :onchange => "recalculaHoras()", :id => "dia_0_saida" %></td>
              <td><%= f.time_select :intervalo, {:default => Time.new(2000,1,1,0,0,0,0)} , :style => 'width: 35%;', :onchange => "recalculaHoras()", :id => "dia_0_intervalo"%></td>
            </tr>
          </table>
        </div>
        <div style="width: 100%">
          <h3>Atividades</h3>
          <%= f.fields_for :atividades do |atividade_form| %>
          <div style="float: none">
            <div>
              <table width = "100%">
                <tr>
                  <td><%= atividade_form.label :projeto_id %></td>
                  <td id="horas"><%= atividade_form.label :duracao %></td>
                  <td><%= atividade_form.label :observacao, "Observação" %></td>
                </tr>
                <tr>
                  <td style="margin-left: 20%; width: 24%"> <%= atividade_form.select :projeto_id, options_for_select(acha_projetos) %></td>
                  <td style="padding-right: 6%; width:25%"><%= atividade_form.time_select :duracao, {:default => Time.new(2000,1,1,0,0,0,0)} , :style => 'width: 47%;'%></td>
                  <td><%= atividade_form.text_area :observacao, :style => "width: 85%; height: 40px;" %></td>
                </tr>
              </table>

            </div>
            <div>
              <%= atividade_form.link_to_remove "Remover Atividade", :class=>"btn default-button"%>
            </div>
          </div>
          <p></p>
          <div class="blue-line">  </div>
          <% end %>
          <%= f.link_to_add "Incluir Atividade", :atividades, :class=>"btn default-button", :style =>"float:right; margin-top: 10px"%>
        </div>
        <table width="100%">
          <tr>
            <td>
              <div class="actions" style="float: left; margin-right: 20px;">
                <button class="btn default-button" data-dismiss="modal" aria-hidden="true">
                  Cancelar
                </button>
                <%= f.submit "Ok", :class => "btn default-button", :onclick => "return validate()"%>
              </div>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
  </div>
</div>
