<div class="modal-body">

  <%= nested_form_for(@dia, :url => :dias, :method => :post) do |f| %>
    <%= hidden_field_tag :user_id, @user.id %>
    <%= hidden_field_tag :ano, @year %>
    <%= hidden_field_tag :mes, @month.id %>
    <%= hidden_field_tag :dia_id, @dia.id %>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <%= f.label :dia %>
          <%= f.select :numero, options_for_select(@diasdomes, ((@dia.numero.blank?)? Time.now.in_time_zone('Brasilia').day : @dia.numero)), {}, :style => 'width: 55px;'%>
          <%= f.label :entrada %>
          <%= f.time_select :entrada, {}, :style => 'width: 55px;', :onchange => "recalculaHoras()", :id => "dia_0_entrada" %>
          <%= f.label :saida %>
          <%= f.time_select :saida, {}, :style => 'width: 55px;', :onchange => "recalculaHoras()", :id => "dia_0_saida" %>
          <%= f.label :intervalo %>
          <%= f.time_select :intervalo, {} , :style => 'width: 55px;', :onchange => "recalculaHoras()", :id => "dia_0_intervalo"%>
        </div>
        <div class="span5">
          <h3>Atividades</h3>
          <div class="panel-scrollable" style="height: 300px; padding-bottom: 10px">
            <%= f.fields_for :atividades, :allow_destroy => true do |atividade_form| %>
              <%= atividade_form.link_to_remove '<i class="icon-trash icon-2x"> </i>'.html_safe,
                :class=>"nohover", :style => "float: right; margin-right: 10px" %>
              <% unless atividade_form.object.mensagem.blank?  %>
                <div class="red-background activity-message">
                  <%= atividade_form.object.avaliador.nome %>: <br/>
                  <%= atividade_form.object.mensagem %>
                </div>
              <% end %>
              <%= atividade_form.label :projeto_id, :class => 'inline-label' %>
              <%= atividade_form.select :projeto_id, options_for_select(@projetos, atividade_form.object.projeto_id) %>
              <br/>
              <%= atividade_form.label :horas, "Tempo gasto na atividade", :class => 'inline-label' %>
              <%= atividade_form.time_select :horas, {},
                :style => 'width: 55px;'%>
              <%= atividade_form.label :observacao, "Observação" %>
              <%= atividade_form.text_area :observacao, :style => "width: 85%; height: 40px;" %>
              <div class="trello-dropover" ondrop="dropCard(event)" ondragover="allowDrop(event)">
                &nbsp;Arraste cartões do Trello aqui.
                <% atividade_form.object.cartaos.each do |cartao| %>
                  <% id = rand(100000000000).to_s %>
                  <%= javascript_tag "loadCard(\"#{cartao.cartao_id}\", \"#{id}\")", :id => id %>
                <% end %>
              </div>
              <div class="grey-line"> </div>
            <% end %>
            <%= f.link_to_add "Nova Atividade", :atividades, :class=>"btn default-button"%>
          </div>
        </div>

        <div class="span5">
          <div id="loggedout">
            <a class="btn default-button" id="connectLink" onclick="loginTrello()"> Conectar ao Trello</a>
          </div>

          <div id="loggedin">
            <div id="header">
              Logado como <b id="fullName"></b>
              <br/>
              <a id="disconnect" onclick="logoutTrello()">Log Out</a>
            </div>

            <div id="output" class="panel-scrollable" style="height: 320px"></div>
          </div>
          <script>
            checkTrello();
          </script>
        </div>
      </div>
    </div>
    <div class="blue-line" style="margin: 20px 10px">  </div>
    <div style="width: 100%">
      <div class="actions" style="float: left; margin-left: 10px;">
        <button class="btn default-button" data-dismiss="modal" aria-hidden="true">
          Cancelar
        </button>
        <%= f.submit "Ok", :class => "btn default-button", :onclick => "return validate()" %>
      </div>
    </div>
  <% end %>
</div>
