<div id="new-banco-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="width: 50%; margin-left: -25%">

  <div class="modal-body">
    <%= nested_form_for(@dia, :url => banco_de_horas_path) do |f| %>
      <% if @dia.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@dia.errors.count, "error") %> prohibited this banco_de_hora from being saved:</h2>

          <ul>
            <% @dia.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= hidden_field_tag :user_id, @user.id %>
      <%= hidden_field_tag :ano, @year %>
      <%= hidden_field_tag :mes, @month.id %>

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span4">
            <div class="field">
              <%= f.label :dia %>
              <%= text_field_tag :numero, Date.today.day %>
            </div>
            <div class="field">
              <%= f.label :entrada %>
              <%= text_field_tag :entrada, nil, {:placeholder => "00:00"} %>
            </div>
            <div class="field">
              <%= f.label :saida %>
              <%= text_field_tag :saida, nil, {:placeholder => "00:00"} %>
            </div>
            <div class="field">
              <%= f.label :intervalo %>
              <%= text_field_tag :intervalo, nil, {:placeholder => "00:00"} %>
            </div>
          </div>

          
          <div class="span4">
						<%= f.fields_for :atividades do |atividade_form| %>
          		<div class="field">
            		<%= atividade_form.label :horas %>
            		<%= atividade_form.text_field :horas %>
          		</div>
							<div class="field">
            		<%= atividade_form.label :projeto_id %>
            		<%= atividade_form.select :projeto_id, options_for_select(acha_projetos) %>
          		</div>
							<div class="field">
            		<%= atividade_form.label :observacao %>
            		<%= atividade_form.text_area :observacao, :rows => 3 %>
          		</div>
            
							<%= atividade_form.link_to_remove "Remover Atividade", :class=>"btn default-button"%>
						<% end %>
            
            <%= f.link_to_add "Incluir Atividade", :atividades, :class=>"btn default-button", :style =>"margin-top: 10px"%>
          </div>
        </div>
      </div>
      <div class="actions" style="float: right; margin-right: 20px;">
        <button class="btn default-button" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <%= f.submit "Ok", :class => "btn default-button"%>
      </div>
    <% end %>
  </div>
</div>

