<div class="modal-body">

  <%= nested_form_for(@dia, :url => :dias, :method => :post) do |f| %>
    <%= hidden_field_tag :user_id, @user.id %>
    <%= hidden_field_tag :ano, @year %>
    <%= hidden_field_tag :mes, @month.id %>
    <%= hidden_field_tag :dia_id, @dia.id %>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <%= f.label :dia %>
          <%= f.text_field :numero, :value => ((@dia.numero.blank?)? Date.today.day : @dia.numero), :style => 'width: 55px'%>
          <%= f.label :entrada %>
          <%= f.time_select :entrada, {}, :style => 'width: 55px;', :onchange => "recalculaHoras()", :id => "dia_0_entrada" %>
          <%= f.label :saida %>
          <%= f.time_select :saida, {}, :style => 'width: 55px;', :onchange => "recalculaHoras()", :id => "dia_0_saida" %>
          <%= f.label :intervalo %>
          <%= f.time_select :intervalo, {} , :style => 'width: 55px;', :onchange => "recalculaHoras()", :id => "dia_0_intervalo"%>
        </div>
        <div class="span5">
          <h3>Atividades</h3>
          <div class="panel-scrollable" style="height: 240px; padding-bottom: 10px">
            <%= f.fields_for :atividades, :allow_destroy => true do |atividade_form| %>
              <%= atividade_form.link_to_remove '<i class="icon-trash icon-2x"> </i>'.html_safe,
                :class=>"nohover", :style => "float: right; margin-right: 10px" %>
              <%= atividade_form.label :projeto_id, :class => 'inline-label' %>
              <%= atividade_form.select :projeto_id, options_for_select(@projetos, atividade_form.object.projeto_id) %>
              <br/>
              <%= atividade_form.label :horas, :class => 'inline-label' %>
              <%= atividade_form.time_select :horas, {},
                :style => 'width: 55px;'%>
              <%= atividade_form.label :observacao, "Observação" %>
              <%= atividade_form.text_area :observacao, :style => "width: 85%; height: 40px;" %>
              <div class="trello-dropover" ondrop="dropCard(event)" ondragover="allowDrop(event)">
                &nbsp;Clique e arraste cartões do Trello aqui.
              </div>
              <div class="grey-line"> </div>
            <% end %>
            <%= f.link_to_add "Incluir Atividade", :atividades, :class=>"btn default-button"%>
          </div>
        </div>

        <div class="span4">
          <div id="loggedout">
            <a class="btn default-button" id="connectLink" onclick="loginTrello()"> Conectar ao Trello</a>
          </div>

          <div id="loggedin">
            <div id="header">
              Logado como <span id="fullName"></span>
              <br/>
              <a id="disconnect" onclick="logoutTrello()">Log Out</a>
            </div>

            <div id="output" class="panel-scrollable" style="height: 260px"></div>
          </div>

        </div>
      </div>
    </div>
    <div class="blue-line" style="margin: 20px 10px">  </div>
    <div style="width: 100%">
      <div class="actions" style="float: left; margin-left: 10px;">
        <button class="btn default-button" data-dismiss="modal" aria-hidden="true">
          Cancelar
        </button>
        <%= f.submit "Ok", :class => "btn default-button"%>
      </div>
    </div>
  <% end %>
</div>