<h1>Listing banco_de_horas</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Horas</th>
    <th>Observacao</th>
    <th>Projeto</th>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @banco_de_horas.each do |banco_de_hora| %>
  <tr>
    <td><%= banco_de_hora.data %></td>
    <td><%= banco_de_hora.horas %></td>
    <td><%= banco_de_hora.observacao %></td>
    <td><%= banco_de_hora.projeto.nome %></td>
    <td><%= banco_de_hora.usuario.nome %></td>
    <td><%= link_to 'Show', banco_de_hora %></td>
    <td><%= link_to 'Edit', edit_banco_de_hora_path(banco_de_hora) %></td>
    <td><%= link_to 'Destroy', banco_de_hora, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Banco de hora', new_banco_de_hora_path %>
