<div class="row-fluid" style="margin-left: 15px">
  <div class="span2 blue-text">
    <%= link_to '<i class="icon-double-angle-left"></i>'.html_safe, banco_de_horas_path(:year => @year.to_i - 1, :month => @month.numero) %>
    <%= link_to @year, show_mes_banco_de_horas_path(:year => @year) %>
    <%= link_to '<i class="icon-double-angle-right"></i>'.html_safe, banco_de_horas_path(:year => @year.to_i + 1, :month => @month.numero) %>
  </div>
  <div class="span3 blue-text">
    <%= link_to '<i class="icon-double-angle-left"></i>'.html_safe, banco_de_horas_path(:year => @year.to_i, :month => @month.numero - 1) %>
    <%= t("date.month_names")[@month.numero] %>
    <%= link_to '<i class="icon-double-angle-right"></i>'.html_safe, banco_de_horas_path(:year => @year.to_i, :month => @month.numero + 1) %>
  </div>
</div>

<div class="blue-line">  </div>

<table class="list-table days-table">
  <tr>
    <th>Dia</th>
    <th>Entrada</th>
    <th>Saída</th>
    <th>Intervalo</th>
    <th style="padding-left: 25px;">Horas trabalhadas</th>
    <th>Atividades (Aprovadas)</th>
    <th></th>
  </tr>
  <% @dias.each do |dia| %>
    <tr>
      <td style="width: 11%"><%= "#{dia.numero.to_s}  (#{t("date.abbr_day_names")[Date.new(@year.to_i,
        @month.numero, dia.numero).wday]})"%></td>
      <td><%= dia.entrada.strftime("%H:%M") %></td>
      <td><%= dia.saida.strftime("%H:%M") %></td>
      <td><%= dia.intervalo.strftime("%H:%M") %></td>
      <td style="width: 60%; border: none">
        <div class="blue-background" style="width: <%= (dia.bar_width)%>">
          <%= dia.formata_horas %>h
        </div>
      </td>
      <td style="border: 22px solid #FFF" <%= "class=red-background" if dia.horas_atividades_formato != dia.formata_horas %>>
        <%= dia.horas_atividades_formato + " h" %>
      </td>
      <td style="width: 10%;">
        <%= form_tag( { :controller => :banco_de_horas, :action => :modal, :id => dia.id },
          {:remote => true, :method => :post, :class => "inline-form"} ) do %>
          <%= hidden_field_tag :user_id, @user.id %>
          <%= hidden_field_tag :ano, @year %>
          <%= hidden_field_tag :mes, @month.id %>
          <%= link_to_submit ' ', :class => 'icon-edit nohover', :style => "margin-right: 10px", :title => "Editar" %>
        <% end %>
        <%= link_to '<i class="icon-trash"> </i>'.html_safe,
          dia_path(dia.id), :method => :delete, :confirm => "Deseja excluir o registro?",
          :class => 'nohover', :title => "Excluir"%>
      </td>
    </tr>
  <% end %>
  <tr style="border-top:thin solid; border-color:black">
    <td colspan=4>Total</td>
    <td><%= (@month.blank?)? "00:00" : @month.horas_trabalhadas %></td>
    <td>Restantes <%= (@month.blank?)? "00:00" : @month.horas_restantes %> </td>
    <td>Por dia <%= (@month.blank?)? "00:00" : @month.horas_a_fazer_por_dia %> </td>
    <td><%= (@month.blank?)? "00:00" : @month.horas_trabalhadas_aprovadas %></td>
  </tr>
</table>
<br />
<br />

<div class="navbar-fixed-bottom toolbar">
  <%= form_tag( { :controller => :banco_de_horas, :action => :modal, :id => nil },
    {:remote => true, :method => :post, :class => "inline-form"} ) do %>
    <%= hidden_field_tag :user_id, @user.id %>
    <%= hidden_field_tag :ano, @year %>
    <%= hidden_field_tag :mes, @month.id %>
    <%= link_to_submit 'Adicionar', :class => 'btn default-button'%>
  <% end %>

  <%= link_to 'Voltar', :back, :class => "btn default-button"%>
</div>

<div id="primeiraprosanto" class="modal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" style="width: 60%; margin-left: -30%">
  <%= render :partial => "modal" %>
</div>
