<div class="row-fluid" style="margin-left: 15px">
  <div class="span2 blue-text">
    &lt; <%= @year %> &gt;
  </div>

  <div class="span2 blue-text">
    &lt; <%= Date::MONTHNAMES[@month] %> &gt;
  </div>
</div>
<div class="blue-line">  </div>

<table class="list-table">
  <% @banco_de_horas.each do |banco_de_hora| %>
    <tr>
      <td style="border:none"><%= banco_de_hora.data %></td>
      <td style="border:none"><%= banco_de_hora.projeto_nome %></td>
      <td style="width: 70%; border: none">
        <div class="blue-background" style="width: <%= (banco_de_hora.horas * 10).to_s + "%" %> ">
          <%= banco_de_hora.horas %>h
        </div>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to "Adicionar", "#myModal", :class => "btn default-button",
  :style => "margin: 15px;", "data-toggle" => "modal", :role => "button" %>

<%= render :partial => "modal" %>
