<script>
 checkTrello();
</script>


<div class="row-fluid" style="margin-left: 15px">
  <div class="span2 blue-text">
    <%= link_to '<i class="icon-double-angle-left"></i>'.html_safe, banco_de_horas_path(:year => @year.to_i - 1,
      :month => @month.numero) %>
    <%= link_to @year, show_mes_banco_de_horas_path(:year => @year) %>
    <%= link_to '<i class="icon-double-angle-right"></i>'.html_safe, banco_de_horas_path(:year => @year.to_i + 1,
      :month => @month.numero) %>
  </div>
  <div class="span3 blue-text">
    <%= link_to '<i class="icon-double-angle-left"></i>'.html_safe, banco_de_horas_path(:year =>
        (@month.numero == 1) ? @year.to_i - 1 : @year.to_i, :month => (@month.numero == 1) ? 12 : @month.numero - 1) %>
    <%= t("date.month_names")[@month.numero] %>
    <%= link_to '<i class="icon-double-angle-right"></i>'.html_safe, banco_de_horas_path(:year =>
        (@month.numero == 12) ? @year.to_i + 1 : @year.to_i, :month => (@month.numero == 12) ? 1 : @month.numero + 1) %>
  </div>
</div>

<div class="blue-line">  </div>

<table class="list-table days-table">
  <tr>
    <th>Dia</th>
    <th>Entrada</th>
    <th>Saída</th>
    <th>Intervalo</th>
    <th style="padding-left: 25px;"><%= t('atividades.title') %></th>
    <th>Horas Aprovadas</th>
    <th></th>
  </tr>
  <% @dias.each do |dia| %>
    <tr>
      <td style="width: 11%"><%= "#{dia.numero.to_s}  (#{t("date.abbr_day_names")[Date.new(@year.to_i,
        @month.numero, dia.numero).wday]})"%></td>
      <td><%= dia.entrada.strftime("%H:%M") %></td>
      <td><%= dia.saida.strftime("%H:%M") %></td>
      <td><%= dia.intervalo.strftime("%H:%M") %></td>
      <td style="width: 60%; border: none">
        <% dia.atividades.each do |atividade| %>
          <%= content_tag(:div, 'Observação: ' + atividade.observacao, id: 'atividade' + atividade.id.to_s, class: atividade.cor_status) %>
           <% atividade.cartaos.each do |cartao| %>         
            <% id = 'atividade' + atividade.id.to_s %>
            <%= javascript_tag "loadCard2(\"#{cartao.cartao_id}\", \"#{id}\")", :id => id %>
          <% end %>
          <br />
          <!-- <div class="blue-background" style="width: <%= (dia.bar_width)%>"> -->
          <!-- </div> -->
        <% end %>
      </td>
      <td style="border: 22px solid #FFF" <%= 'class="red-background"' if dia.horas_atividades_formato != dia.formata_horas %>>
        <%= dia.horas_atividades_formato + " h" %>
      </td>
      <td style="width: 13%;">
        <%= form_tag( { :controller => :banco_de_horas, :action => :modal, :id => dia.id },
          {:remote => true, :method => :post, :class => "inline-form"} ) do %>
          <%= hidden_field_tag :user_id, @user.id %>
          <%= hidden_field_tag :ano, @year %>
          <%= hidden_field_tag :mes, @month.id %>
          <%= link_to_submit ' ', :class => 'icon-edit nohover', :style => "margin-right: 10px", :title => "Editar" %>
        <% end %>
        <%= link_to '<i class="icon-trash"> </i>'.html_safe,
          dia_path(dia.id), :method => :delete, :confirm => t("prompt.exclusao.confirmacao"),
          :class => 'nohover', :title => "Excluir"%>
        <% if dia.tem_reprovacao? %>
          <i class="icon-envelope" title="<%= dia.formata_mensagens %>" style="float: right; color:#FF9393"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr style="border-top:thin solid; border-color:black">
    <td colspan=4>Total</td>
    <td><%= (@month.blank?)? "00:00" : @month.horas_trabalhadas %></td>
    <td><%= (@month.blank?)? "00:00" : @month.horas_trabalhadas_aprovadas %></td>
  </tr>
</table>
<br />
<br />

<div class="navbar-fixed-bottom toolbar">
  <%= form_tag( { :controller => :banco_de_horas, :action => :modal, :id => nil },
    {:remote => true, :method => :post, :class => "inline-form"} ) do %>
    <%= hidden_field_tag :user_id, @user.id %>
    <%= hidden_field_tag :ano, @year %>
    <%= hidden_field_tag :mes, @month.id %>
    <%= link_to_submit 'Adicionar', :class => 'btn default-button'%>
  <% end %>

  <%= link_to 'Voltar', :back, :class => "btn default-button"%>
  <% m = Date.new(@year.to_i, @month.numero, 1) %>
  <% today = Date.today %>
  <% if m.month == today.month and m.year == today.year and !@month.blank?%>
    <div style="float: right">
      Resta(m) <b> <%= @month.horas_restantes %> </b> hora(s) de trabalho e
      <b> <%= @month.dias_uteis_restantes %> </b> dia(s) útei(s) para concluir a meta do mês <br/>
      Trabalhe <b> <%= @month.horas_a_fazer_por_dia %> </b> hora(s) por dia útil para comprir a meta
    </div>
  <% end %>
</div>

<div id="primeiraprosanto" class="modal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" style="width: 80%; margin-left: -40%">
  
</div>
