<div class="row-fluid" style="margin-left: 15px">
  <div class="span2 blue-text">
    <%= link_to "<", banco_de_horas_path(:year => @year.to_i - 1, :month => @month.numero) %>
    <%= link_to @year, show_mes_banco_de_horas_path(:year => @year) %>
    <%= link_to ">", banco_de_horas_path(:year => @year.to_i + 1, :month => @month.numero) %>
  </div>

  <div class="span3 blue-text">
    <%= link_to "<", banco_de_horas_path(:year => @year.to_i, :month => @month.numero - 1) %>
    <%= t("date.month_names")[@month.numero] %>
    <%= link_to ">", banco_de_horas_path(:year => @year.to_i, :month => @month.numero + 1) %>
  </div>


</div>
<div class="blue-line">  </div>

<table class="list-table">
    <tr>
<th>Dia</th>
<th>Hora de entrada</th>
<th>Hora de saída</th>
<th>Intervalo</th>
<th style="padding-left: 25px;">Horas trabalhadas</th>
</tr>
  <% @dias.each do |dia| %>
    <tr>
      <td style="border:none"><%= dia.numero %></td>
      <td style="border:none"><%= dia.entrada.strftime("%H:%M") %></td>
      <td style="border:none"><%= dia.saida.strftime("%H:%M") %></td>
      <td style="border:none"><%= dia.formata_intervalo %></td>
      <td style="width: 70%; border: none">
        <div class="blue-background" style="width: <%= (dia.horas * 10).to_s + "%" %> ">
          <%= dia.formata_horas %>h
        </div>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to "Adicionar", "#new-banco-modal", :class => "btn default-button",
  :style => "margin: 15px;", "data-toggle" => "modal", :role => "button" %>

<%= render :partial => "modal" %>
