<div class="row-fluid" style="margin-left: 15px">
  <div class="span2 blue-text">
    <%= link_to "<", banco_de_horas_path(:year => @year.to_i - 1, :month => @month.numero) %>
    <%= link_to @year, show_mes_banco_de_horas_path(:year => @year) %>
    <%= link_to ">", banco_de_horas_path(:year => @year.to_i + 1, :month => @month.numero) %>
  </div>

  <div class="span3 blue-text">
    <%= link_to "<", banco_de_horas_path(:year => @year.to_i, :month => @month.numero - 1) %>
    <%= t("date.month_names")[@month.numero] %>
    <%= link_to ">", banco_de_horas_path(:year => @year.to_i, :month => @month.numero + 1) %>
  </div>


</div>
<div class="blue-line">  </div>

<table class="list-table">
  <tr>
    <th>Dia</th>
    <th>Hora de entrada</th>
    <th>Hora de saída</th>
    <th>Intervalo</th>
    <th>Atividades</th>
    <th style="padding-left: 25px;">Horas trabalhadas</th>
    <th>Horas em Atividades (Aprovadas)</th>
    <th>Excluir</th>
  </tr>
  <% @dias.each do |dia| %>
    <tr>
      <td style="border:none"><%= dia.numero.to_s + "-" + t("date.day_names")[Date.new(@year.to_i, @month.numero, dia.numero).wday]%></td>
      <td style="border:none"><%= dia.entrada.utc.strftime("%H:%M") %></td>
      <td style="border:none"><%= dia.saida.utc.strftime("%H:%M") %></td>
      <td style="border:none"><%= dia.formata_intervalo %></td>
      <td style="border:none"><%= link_to "ver", atividades_path(:dia_id => dia.id, :mes_id => @month.id, :user_id => @user) %> </td>
      <td style="width: 70%; border: none">
      <div class="blue-background" style="width: <%= (dia.bar_width)%>">
        <%= dia.formata_horas %>h
      </div>
      </td>
      <td style="border:none" <%= "class=red-background" if dia.horas_atividades_formato != dia.formata_horas %>><%= dia.horas_atividades_formato + " h" %></td>
      <td >
        <%= link_to "X", delete_dia_banco_de_horas_path(:dia_id => dia.id) , :confirm => "Deseja excluir o registro?"%>
      </td>
    </tr>
  <% end %>
  <tr style="border-top:thin solid; border-color:black">
    <td colspan=5>Total</td>
    <td><%= (@month.blank?)? "00 h" : ((@month.horas_trabalhadas < 10) ? "0"+@month.horas_trabalhadas.to_i.to_s+" h" : (@month.horas_trabalhadas.to_i).to_s + " h") %></td>
    <td><%= (@month.blank?)? "00 h" : ((@month.horas_trabalhadas_aprovadas < 10) ? "0"+@month.horas_trabalhadas_aprovadas.to_i.to_s+" h" : (@month.horas_trabalhadas_aprovadas.to_i).to_s + " h") %></td>

  </tr>
</table>

<br />

<%= link_to "Adicionar", "#new-banco-modal", :class => "btn default-button",
  :style => "margin: 15px;", "data-toggle" => "modal", :role => "button" %>

<%= render :partial => "modal" %>
<%= link_to 'Voltar', :back,:class => "btn default-button"%>
