<div class="blue-text">
  <%= link_to '<i class="icon-double-angle-left"></i>'.html_safe, show_mes_banco_de_horas_url(:ano => @year.to_i - 1) %>
  <%= @year %>
  <%= link_to '<i class="icon-double-angle-right"></i>'.html_safe, show_mes_banco_de_horas_url(:ano => @year.to_i + 1) %>
</div>

<div class="blue-line">  </div>

<table style="width: 100%">

  <tr>
    <% t("date.abbr_day_names").each do |p| %>
      <th><%= p %></th>
    <% end %>
  </tr>
  <% comeco = Date.new(2013,06,01) %>
  <% fim = comeco.end_of_month %>
  <tr>
  <% dia_da_semana = 0 %>
  <% while comeco.wday != dia_da_semana %>
    <% dia_da_semana = dia_da_semana + 1 %>
    <td></td>
  <% end %>
  <% (comeco..fim).each do |dia| %>
    <td><%= link_to (dia.day.to_s+"/"+dia.month.to_s).to_s, editar_por_data_dias_path(:dia=> dia.day, :mes => dia.month, :ano => dia.year, :usuario_id => current_usuario.id) %></td>
    <% if dia.wday == 6 %>
      </tr><tr>
    <% end %>
  <% end %>
  </tr>
  
</table>

<script>
var url = "/banco_de_horas/show_mes?user_id="
$('#menu_select').bind('change', function() { location.href = url + $(this).val() });
$(".month-table").height($(".month-table").width() + 20)
</script>
