<div class="blue-text">
  <%= link_to '<i class="icon-double-angle-left"></i>'.html_safe, show_mes_banco_de_horas_url(:year => @year.to_i - 1) %>
  <%= @year %>
  <%= link_to '<i class="icon-double-angle-right"></i>'.html_safe, show_mes_banco_de_horas_url(:year => @year.to_i + 1) %>
</div>

<% if can? :see, :banco_de_horas %>
  <%= select_tag(:menu_select, options_for_select(@usuarios, @user.id), :prompt => "escolha um usuario") %>
<%end%>

<div class="blue-line">  </div>

<table style="width: 100%">
  <tr>
    <% (1..12).each do |mes| %>
      <td class="month-table">
        <%= link_to "#{t("date.month_names")[mes]} <br/> <br/>\n <b> #{(@meses[mes].blank?)? "00:00" :
        @meses[mes].horas_trabalhadas_aprovadas} / #{(@meses[mes].blank?)? @user.horario_data(
        Date.new(@year.to_i, mes, 1)) : @meses[mes].horas_contratadas}</b>".html_safe,
          banco_de_horas_url(:year => @year, :user => @user.id, :month => mes),
          :class => (!@meses[mes].blank? and  @meses[mes].tem_reprovacao?) ? "month-link red-link" : "month-link blue-link" %>
      </td>
      <% if mes == 6 %>
      </tr>
      <tr>
      <% end %>
    <% end %>
  </tr>
</table>

<script>
var url = "/banco_de_horas/show_mes?user_id="
$('#menu_select').bind('change', function() { location.href = url + $(this).val() });
$(".month-table").height($(".month-table").width() + 20)
</script>
