<div class="blue-text" style="margin-left: 30px">
  Validação de Atividades
</div>

<div class="row-fluid" style="margin-left: 15px">
  <div class="span2 blue-text">
    <%= link_to "<", validar_banco_de_horas_path(:ano => @ano.to_i - 1, :mes => @mes_numero) %>
    <%= link_to @ano, show_mes_banco_de_horas_path(:ano => @ano) %>
    <%= link_to ">", validar_banco_de_horas_path(:ano => @ano.to_i + 1, :mes => @mes_numero) %>
  </div>

  <div class="span3 blue-text">
    <%= link_to "<", validar_banco_de_horas_path(:ano => @ano.to_i, :mes => @mes_numero.to_i - 1) %>
    <%= t("date.month_names")[@mes_numero.to_i] %>
    <%= link_to ">", validar_banco_de_horas_path(:ano => @ano.to_i, :mes => @mes_numero.to_i + 1) %>
  </div>
</div>

<%= select_tag(:menu_select, options_for_select(acha_usuarios.sort), :prompt => "escolha um usuario") %>
<script>
$('#menu_select').bind('change', function() { window.location.pathname = "banco_de_horas/validar?mes=<%= @mes_numero%>&ano=<%=@ano%>&usuario_id=" + $(this).val() });
</script>


<div class="blue-line">  </div>

<%= form_tag(mandar_validacao_banco_de_horas_path) do %>

  <table class="list-table">

  <tr>
    <th> Usuário    </th>
    <th> Projeto    </th>
    <th> Detalhes   </th>
    <th> horas      </th>
    <th> aprovado?  </th>
    <th> reprovado? </th>
    <th> mensagem</th>
  </tr>

    <% @atividades.each do |atividade| %>
        <tr <%= "class=red-background" if atividade.aprovacao == false                       %> >
        	<%= hidden_field_tag "atividades[#{atividade.id}[id]]",atividade.id                %>
          <td><%= Usuario.find(atividade.usuario_id).nome                                    %></td>
          <td><%= atividade.projeto.nome                                                     %></td>
          <td><%= atividade.observacao                                                       %></td>
          <td><%= atividade.formato_horas                                                    %></td>
          <td><%= check_box_tag "atividades[#{atividade.id}[aprovacao]]", true               %></td>
          <td><%= check_box_tag "atividades[#{atividade.id}[aprovacao]]", false, (atividade.aprovacao == false)  %></td>
          <td><%= text_field_tag "atividades[#{atividade.id}[mensagem]]", atividade.mensagem %></td>
        </tr>
    <% end %>

  </table>

  <div class="actions">
    <%= submit_tag "Salvar", :style => "float: left; margin-left: 10px", :class => "btn default-button"%>
  </div>
<% end %>
