<div class="blue-text" style="margin-left: 30px">
  <%= t("funcionalidade.validacao.atividade")%>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3 blue-text">
      <%= select_tag(:ano_select, options_for_select(@anos, @ano), {:class => 'menu_select'}) %>
    </div>

    <div class="span3 blue-text">
      <%= select_tag(:mes_select, options_for_select(@meses, @mes), {:class => 'menu_select'}) %>
    </div>

    <div class="span3 blue-text">
      <%= select_tag(:dia_select, options_for_select(@dias, @dia), {:class => 'menu_select'}) %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span2">
      <%= select_tag(:usuario_select, options_for_select(@usuarios, @usuario), {:class => 'menu_select'}) %>
    </div>
    <div class="span2">
      <%= select_tag(:projeto_select, options_for_select(@projetos, @projeto), {:class => 'menu_select'}) %>
    </div>
    <div class="span2">
      <%= select_tag(:aprovacao_select, options_for_select(@aprovacoes, @aprovacao), {:class => 'menu_select'}) %>
    </div>
    <div class="span2">
      <%= button_tag('Filtra', {:type => 'button', :id => 'filtra', :class => 'btn default-button'}) %>
    </div>
    <div class="span4" style="font-size:150%">
      <b><%=@total_horas%> horas ainda não aprovadas </b>
    </div >
  </div>
</div>
<div class="blue-line">  </div>

<%= form_tag(mandar_validacao_banco_de_horas_path) do %>
  <div class="navbar-fixed-bottom toolbar">
    <%= submit_tag "Salvar", :class => "btn default-button"%>
    <%= button_tag('Aprovar Todas', {:type => 'button', :id => 'aprova_todas', :class => 'btn default-button', :style => 'float: right; margin-right: 10px'}) %>
  </div>
  <table class="list-table">
    <tr>
      <th> Data       </th>
      <th> Usuário    </th>
      <th> Projeto    </th>
      <th> Detalhes   </th>
      <th> horas      </th>
      <th></th>
      <th> mensagem   </th>
    </tr>

    <% @atividades.each do |atividade| %>
      <tr <%= "class=red-background" if atividade.aprovacao == false                       %> >
        <%= hidden_field_tag "atividades[#{atividade.id}[id]]",atividade.id                %>
        <td><%= atividade.data.strftime("%d/%m/%Y")                                        %></td>
        <td><%= atividade.usuario.nome                                                     %></td>
        <td><%= atividade.projeto.nome                                                     %></td>
        <td>
          <%= atividade.observacao                                                       %> <br/>
          <% atividade.cartoes.each do |cartao| %>
            <input type="hidden" class="card-placeholder" id="<%= cartao.cartao_id %>" value="<%= cartao.duracao %>"></input>
          <% end %>
        </td>
        <td><%= atividade.formata_duracao                                                  %></td>
        <td style='text-align : right; width: 45px'>
          a. <%= radio_button_tag "atividades[#{atividade.id}[aprovacao]]", true,(atividade.aprovacao == true), {:class => 'aprovacao_radio'} %>
          r. <%= radio_button_tag "atividades[#{atividade.id}[aprovacao]]", false,(atividade.aprovacao == false),{:class => 'aprovacao_radio'} %> 
        </td>
        <td><%= text_field_tag "atividades[#{atividade.id}[mensagem]]", atividade.mensagem %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<br />
<br />

<script type="javascript">
  $('#filtra').click(function() {
    location.href = "/banco_de_horas/validar?mes=" + $('#mes_select').val() + "&ano=" + $('#ano_select').val() + "&usuario_id=" + $('#usuario_select').val() + "&projeto_id=" + $('#projeto_select').val() + "&dia=" + $('#dia_select').val() + "&aprovacao=" + $('#aprovacao_select').val()
  });
  $('#aprova_todas').click(function() {
    $('.aprovacao_radio').filter('[value=true]').prop('checked', true)
  });
</script>
