<div class="blue-text" style="margin-left: 30px">
  Validação de Atividades
</div>
<div class="blue-line">  </div>

<%= form_tag(mandar_validacao_banco_de_horas_path) do %>

  <table class="list-table">

  <tr>
    <th> Usuário    </th>
    <th> Projeto    </th>
    <th> Detalhes   </th>
    <th> horas      </th>
    <th> aprovado?  </th>
    <th> reprovado? </th>
  </tr>

    <% @atividades.each do |atividade| %>
        <tr <%= "class=red-background" if atividade.aprovacao == false          %> >
          <td><%= Usuario.find(atividade.user_id).nome                         %></td>
          <td><%= atividade.projeto.nome                                       %></td>
          <td><%= atividade.observacao                                         %></td>
          <td><%= atividade.horas                                              %></td>
          <td><%= check_box_tag "aprovacao[aprovado[#{atividade.id}]]", true   %></td>
          <td><%= check_box_tag "aprovacao[reprovado[#{atividade.id}]]", false %></td>
        </tr>
    <% end %>

  </table>

  <div class="actions">
    <%= submit_tag "Salvar", :style => "float: left; margin-left: 10px", :class => "btn default-button"%>
  </div>
<% end %>
