<div class="modal-dialog">
  <div class="modal-content">
    <%= form_tag enviar_mensagem_atividades_path, :remote => true do %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body" style="overflow-y: scroll; height:300px;">
        <% @atividade.mensagens.each do |m| %>
          <% if m.autor_id != current_usuario.id %>
            <div class="mensagem-border-coordenador">
            <% else %>
              <div class="mensagem-border-usuario">
              <% end %>
              <div style="color: #3B0B17"><b><%= Usuario.find(m.autor_id).nome %></b></div>
              <div><%= m.conteudo %></div>
              <div><i><%= m.created_at.strftime("%d/%b/%Y at %k:%M:%S") %></i></div>
            </div>
          <% end %>
          <div style="color: #3B0B17"><b><%= m.autor.try(:nome) %></b></div>
          <div><%= m.conteudo %></div>
          <div><i><%= m.created_at.strftime("%d/%b/%Y at %k:%M:%S") %></i></div>
        </div>
      <% end %>
      <% #render "mensagem", mensagens: @atividade.mensagens %>
      <%= hidden_field_tag :atividade_id, @atividade.id %>
    </div>
    <%= text_area_tag :mensagem, "", :style => "width: 100%" %>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      <%= submit_tag "Enviar", :class => "btn btn-primary" %>
    </div>
  <% end %>
  </div>
</div>
