<div id="new-banco-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 20%">
  <div class="modal-body">
    <%= form_for(@nova_atividade, url: atividades_path ) do |f|%>

    <%= f.hidden_field :dia_id, :value => @dia_id%>
    <%= f.hidden_field :mes_id, :value => @mes_id%>
    <%= f.hidden_field :usuario_id, :value => @user_id%>
    <table>
     <tr>
        <td><%= f.label :projeto_id %></td>
        <td><%= f.select :projeto_id, options_for_select(acha_projetos) %></td>
     </tr>
     <tr>
        <td><%= f.label :horas %></td>
        <td><%= f.time_select :horas, {:default => Time.new(2000,1,1,0,0,0,0)}, :style => 'width: 104px;'  %></td>
      </tr>
      <tr>
        <td><%= f.label :observacao %></td>
        <td><%= f.text_field :observacao %></td>
      </tr>
    </table>

    <div class="actions">
      <%= f.submit %>
    </div>
    <%end%>

  </div>
</div>
