<div id="new-banco-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 30%">
  <div class="modal-body">

    <% @atividades.each do |atividade| %>
      <div id = "<%= atividade.id%>",  style="display:none">
        <%= form_for(atividade, url: atividade_path(atividade) ) do |f|%>
        <table>
         <tr>
            <td width="290px" ><%= f.label :projeto_id %></td>
            <td><%= f.label :horas %></td>
         </tr>
         <tr>
            <td><%= f.select :projeto_id, options_for_select(acha_projetos) %></td>
            <td><%= f.time_select :horas, {:default => Time.new(2000,1,1,0,0,0,0)}, :style => 'width: 104px;'  %></td>
          </tr>
          <tr>
        </table>
        <table>
            <td><%= f.label :observacao %></td>
          </tr>
          <tr>
            <td><%= f.text_area :observacao, :rows => 3, :style => "width: 500px; height: 60px;" %></td>
          </tr>
        </table>

        <div class="actions">
          <%= f.submit %>
        </div>
        <%end%>
      </div>
    <%end%>

    <div id = "0",  style="display:none">
      <%= form_for(@nova_atividade, url: atividades_path ) do |f|%>
        <%= f.hidden_field :dia_id, :value => @dia_id%>
        <%= f.hidden_field :mes_id, :value => @mes_id%>
        <%= f.hidden_field :usuario_id, :value => @user_id%>
        <table>
         <tr>
            <td width="290px" ><%= f.label :projeto_id %></td>
            <td><%= f.label :horas %></td>
         </tr>
         <tr>
            <td><%= f.select :projeto_id, options_for_select(acha_projetos) %></td>
            <td><%= f.time_select :horas, {:default => Time.new(2000,1,1,0,0,0,0)}, :style => 'width: 104px;'  %></td>
          </tr>
          <tr>
        </table>
        <table>
            <td><%= f.label :observacao %></td>
          </tr>
          <tr>
            <td><%= f.text_area :observacao, :rows => 3, :style => "width: 500px; height: 60px;" %></td>
          </tr>
        </table>
        <div class="actions">
          <%= f.submit %>
        </div>
      <%end%>
    </div>

  </div>
</div>
