<div class="blue-text" style="margin-left: 30px">
  Estatísticas de cartões do Trello
</div>

<%= render :partial => 'cartoesatividades'%>

<div class="blue-line">  </div>

<div class="container">
  <div class="row">

    <div class="col-md-3" style="padding: 15px;">
      <%= form_tag atualizar_cartoes_atividades_path  do %>
        <%= hidden_field_tag :key  %>
        <%= hidden_field_tag :token  %>
        <%= submit_tag 'Sincronizar horas do Trello', data: {confirm: "Esta operação pode demorar pois depende do Trello. Continuar?"}, class: 'btn default-button' %>
      <% end %>
    </div>
  </div>
</div>

<%= render :partial => 'stats'%>
