
<div class="blue-line">  </div>

<table class="list-table">
  <tr>
    <th>Data</th>
    <th>Projeto</th>
    <th>Observação</th>
    <th>aprovado</th>
    <th style="padding-left: 25px;">Horas</th>
  </tr>
  <% @atividades.each do |atividade| %>
    <tr>
      <td style="border:none"><%= atividade.data %></td>
      <td style="border:none"><%= atividade.projeto.nome %></td>
      <td style="border:none"><%= atividade.observacao %></td>
      <td style="border:none">
        <% if atividade.aprovacao.nil? %>
          <%= "não vista" %>
        <% elsif atividade.aprovacao %>
          <%= "Sim!" %>
        <% else %>
          <%= "Não" %>
        <% end %>
      </td>
      <td style="width: 70%; border: none">
        <div class="blue-background" style="width: <%= (atividade.bar_width)%>">
          <%= atividade.horas / 3600 %>h
        </div>
      </td>
    </tr>
  <% end %>
</table>

<br />
