<div class="blue-text" style="margin-left: 30px">
  <%= t("funcionalidade.validacao.atividade")%>
</div>
<%= form_tag validar_atividades_path, {method: :get} do %>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= select_tag(:ano, options_for_select(@anos, @ano), {:class => 'menu_select'}) %>
      </div>

      <div class="col-md-3">
        <%= select_tag(:mes, options_for_select(@meses, @mes), {:class => 'menu_select'}) %>
      </div>

      <div class="col-md-3">
        <%= select_tag(:dia, options_for_select(@dias, @dia), {:class => 'menu_select'}) %>
      </div>

      <div class="col-md-3" style="font-size:150%">
        <b><%=@total_horas%> horas ainda não aprovadas </b>
      </div >
    </div>

    <div class="row">
      <div class="col-md-3">
        <%= select_tag(:usuario_id, options_for_select(@usuarios, @usuario), {:class => 'menu_select'}) %>
      </div>
      <div class="col-md-3">
        <%= select_tag(:projeto_id, options_for_select(@projetos, @projeto), {:class => 'menu_select'}) %>
      </div>
      <div class="col-md-3">
        <%= select_tag(:aprovacao, options_for_select(@aprovacoes, @aprovacao), {:class => 'menu_select'}) %>
      </div>
      <div class="col-md-3">
        <%= submit_tag('Filtra', {:class => 'btn default-button'}) %>
      </div>
    </div>
  </div>
<% end %>

<div class="blue-line">  </div>

<%= form_tag(mandar_validacao_atividades_path) do %>
  <div class="navbar-fixed-bottom toolbar">
    <%= submit_tag "Salvar", :class => "btn default-button"%>
    <%= button_tag('Aprovar Todas', {:type => 'button', :id => 'aprova_todas', :class => 'btn default-button', :style => 'float: right; margin-right: 10px'}) %>
  </div>
  <table class="list-table">
    <tr>
      <th> Data       </th>
      <th> Usuário    </th>
      <th> Projeto    </th>
      <th> Detalhes   </th>
      <th> horas      </th>
      <th></th>
      <th> mensagem   </th>
    </tr>

    <% @atividades.each do |atividade| %>
      <tr <%= "class=red-background" if atividade.aprovacao == false                       %> >
        <%= hidden_field_tag "atividades[#{atividade.id}[id]]",atividade.id                %>
        <td><%= atividade.data.strftime("%d/%m/%Y")                                        %></td>
        <td><%= atividade.try(:usuario).try(:nome)                                                     %></td>
        <td><%= atividade.try(:projeto).try(:nome)                                                     %></td>
        <td>
          <%= atividade.observacao                                                       %> <br/>
          <% if atividade.cartao.trello_id %>
            <input type="hidden" class="card-placeholder" id="<%= atividade.cartao.trello_id %>" value="<%= atividade.duracao/60 %>"></input>
          <% end %>
        </td>
        <td><%= atividade.formata_duracao                                                  %></td>
        <td style='text-align : right; width: 45px'>
          a. <%= radio_button_tag "atividades[#{atividade.id}[aprovacao]]", true,(atividade.aprovacao == true), {:class => 'aprovacao_radio'} %>
          r. <%= radio_button_tag "atividades[#{atividade.id}[aprovacao]]", false,(atividade.aprovacao == false),{:class => 'aprovacao_radio'} %> 
        </td>
        <td><%= text_field_tag "atividades[#{atividade.id}[mensagem]]", atividade.mensagem %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<br />
<br />
