<p id="notice"><%= notice %></p>

<p>
  <strong>Projeto:</strong>
  <%= @reuniao.projeto_id %>
</p>

<p>
  <strong>Criador:</strong>
  <%= @reuniao.criador_id %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @reuniao.inicio %>
</p>

<p>
  <strong>Concluida:</strong>
  <%= @reuniao.concluida %>
</p>

<%= link_to 'Edit', edit_reuniao_path(@reuniao) %> |
<%= link_to 'Back', reunioes_path %>
