<div class="blue-text" style="margin-left: 30px">
  Estimativa de cartão do Trello
</div>
<div class="blue-line">  </div>

<div class="grey-form" style="padding: 15px">
  <h4> Cartão </h4>
  <input type="hidden" class="card-placeholder card-default with-description" id="<%= @cartao.trello_id %>">
</div>

<div style="padding: 15px">
  <% @cartao.rodadas.each do |rodada| %>
    <h3 class="rodada" data-toggle="collapse" data-target=<%= "#rodada_#{rodada.numero}" %> > Rodada <%= rodada.numero %>  </h3>
    <div class="collapse <%= "in" unless rodada.fechada %>" id="<%= "rodada_#{rodada.numero}" %>">
      <table class="list-table">
        <tr>
          <th> Nome </th>
          <th> Estimativa </th>
        </tr>

        <% rodada.estimativas.where("planning_card_id is not null").
          collect{|e| [e.usuario.nome, e.planning_card.nome]}.sort.each do |estimativa| %>
          <% unless estimativa[1].nil? %>
            <tr>
              <td> <%= estimativa[0] %> </td>
              <td> <%= estimativa[1] if rodada.fechada %> </td>
            </tr>
          <% end %>
        <% end %>
      </table>

      <% if rodada.fechada %>
        <div class="grey-form" style="padding: 15px">
          <h4> Estatísticas </h4>
          <table class="list-table">
            <tr >
              <td>  Total de estimativas </td>
              <td> <%= rodada.estimativas.count %> </td>
            </tr>

            <tr>
              <td> Média </td>
              <td>  <%= rodada.media %> </td>
            </tr>

            <tr>
              <td> Minimo </td>
              <td> <%= rodada.minimo %> </td>
            </tr>

            <tr>
              <td> Máximo </td>
              <td> <%= rodada.maximo %></td>
            </tr>
            <% if rodada.inicio %>
              <tr>
                <td> Inicio </td>
                <td> <%= rodada.inicio %> - Criada por <%= rodada.criador.nome %> </td>
              </tr>

              <tr>
                <td> Fim </td>
                <td> <%= rodada.fim %> - Concluida por <%= rodada.finalizador.nome %> </td>
              </tr>

              <tr>
                <td> Duração </td>
                <td> <%= int_to_horas(rodada.fim.to_i - rodada.inicio.to_i) %> </td>
              </tr>
            <% end %>
          </table>
        </div>
      <% else %>
        <div class="grey-form" style="padding: 15px">
          Estimativas e estatísticas serão exibidas após conclusão da rodada.
        </div>
      <% end %>
    </div>

    <% unless rodada.fechada %>
      <% sua_estimativa = rodada.estimativas.where(usuario_id: current_usuario.id).last %>
      <%= form_tag estimativas_path do %>
        <div style="padding: 15px" class="row">
          <%= hidden_field_tag :cartao_id, @cartao.id %>
          <%= hidden_field_tag :rodada_id, rodada.id %>
          <% rodada.deck.planning_cards.each do |c|%>
            <div class="col-sm-1">
              <%= button_tag c.nome, :name => "planning_card_id", :value=> c.id,
                :class => (sua_estimativa.try(:planning_card) == c) ? "estimativa estimativa-selecionada": "estimativa" %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% unless @cartao.estimativa.blank? %>
    <h4>
      Estimativa final: <%= @cartao.estimativa %>
    </h4>
  <% end %>
  <br/>
  <br/>
  <h3> Coordenação </h3>
  <div style="padding: 15px">
    <% unless @cartao.rodada_aberta? %>
      <%= form_tag nova_rodada_estimativas_path do %>
        <%= hidden_field_tag :cartao_id, @cartao.id %>
        <%= select_tag :deck_id, options_for_select(@decks.collect{|d| [d.nome, d.id]}), :style => "margin-bottom: 0" %>
        <%= submit_tag "Nova rodada", :class => "btn default-button", :confirm => "Tem certeza?" %>
      <% end %>
    <% else %>
      <%= link_to "Fechar rodada", fechar_rodada_estimativas_path(cartao_id: @cartao.id),
        :class => "btn default-button", :confirm => "Tem certeza?" %>
    <% end %>
    <br/>
    <br/>
    <%= form_tag concluir_estimativas_path, remote: true do %>
      <%= hidden_field_tag :cartao_id, @cartao.id %>
      <%= text_field_tag :estimativa_final, @cartao.estimativa %>
      <%= submit_tag "Enviar estimativa final", :class => "btn default-button", :confirm => "Tem certeza?" %>
    <% end %>
  </div>

</div>
