<div class="blue-text" style="margin-left: 30px">
  Estimativa de cartão do Trello
</div>
<div class="blue-line">  </div>

<div class="form-group" style="padding: 15px">
  <h4> Cartão </h4>
  <input type="hidden" class="card-placeholder with-description" id="<%= @cartao.trello_id %>">
</div>

<div style="padding: 15px">
  <% @rodadas.each do |rodada, estimativas| %>
    <% concluida = @cartao.rodada_concluida? rodada %>
    <h3 class="rodada" data-toggle="collapse" data-target=<%= "#rodada_#{rodada}" %> > Rodada <%= rodada %>  </h3>
    <div class="collapse <%= "in" unless concluida and @ultima_rodada != rodada %>" id="<%= "rodada_#{rodada}" %>">
      <table class="list-table">
        <tr>
          <th> Nome </th>
          <th> Estimativa </th>
        </tr>

        <% estimativas.collect{|e| [e.usuario.nome, e.valor_string]}.sort.each do |estimativa| %>
          <% unless estimativa[1].nil? %>
            <tr>
              <td> <%= estimativa[0] %> </td>
              <td> <%= estimativa[1] if concluida %> </td>
            </tr>
          <% end %>
        <% end %>
      </table>

      <% if concluida %>
        <div class="form-group" style="padding: 15px">
          <h4> Estatisticas </h4>
          <table class="list-table">
            <tr >
              <td>  Total de estimativas </td>
              <td> <%= @cartao.estimativas_na_rodada rodada %> </td>
            </tr>

            <tr>
              <td> Média </td>
              <td>  <%= @cartao.media rodada %> </td>
            </tr>

            <tr>
              <td> Minimo </td>
              <td> <%= @cartao.minimo rodada %> </td>
            </tr>

            <tr>
              <td> Máximo </td>
              <td> <%= @cartao.maximo rodada %></td>
            </tr>
          </table>
        </div>
      <% else %>
        <div class="form-group" style="padding: 15px">
          Estimativas e estatísticas serão exibidas após conclusão da rodada.
        </div>
      <% end %>
    </div>
  <% end %>

  <% unless @cartao.estimado? %>
    <%= form_tag estimativas_path do %>
      <div style="padding: 15px" class="row">
        <%= hidden_field_tag :cartao_id, @cartao.trello_id %>
        <% @estimativa_list.each do |e|%>
          <div class="col-sm-1">
            <%= button_tag e[0], :name => "estimativa", :value=> e[1],
              :class => (@estimativa.valor == e[1]) ? "estimativa estimativa-selecionada": "estimativa" %>
          </div>
        <% end %>
      </div>
    <% end %>

  <% else %>
    <h4>
      Estimativa final: <%= @cartao.estimativa_string %>
    </h4>
  <% end %>

  <br/>
  <br/>
  <h3> Coordenação </h3>
  <div style="padding: 15px">
    <% if @cartao.estimado? %>
      <%= link_to "Nova rodada", nova_rodada_estimativas_path(cartao_id: @cartao.trello_id),
        :class => "btn default-button", :confirm => "Tem certeza?" %>
    <% else %>
      <%= link_to "Fechar rodada", fechar_rodada_estimativas_path(cartao_id: @cartao.trello_id),
        :class => "btn default-button", :confirm => "Tem certeza?" %>
    <% end %>
    <br/>
    <br/>
    <%= form_tag concluir_estimativas_path do %>
      <%= hidden_field_tag :cartao_id, @cartao.trello_id %>
      <%= select_tag :estimativa_final, options_for_select([["Estimar", nil]] + @estimativa_list, @cartao.estimativa), :style => "margin-bottom: 0" %>
      <%= submit_tag "Enviar estimativa final", :class => "btn default-button", :confirm => "Tem certeza?" %>
    <% end %>
  </div>

</div>