<div class="blue-text" style="margin-left: 30px">
  Editando cartao
</div>
<div class="row">
  <div class="col-md-6">
    <div style="padding: 25px">
      <div class="grey-form" style="padding: 15px">
        <h4> Cart찾o </h4>
        <%= hidden_field_tag @cartao.trello_id, "", :class => "card-placeholder card-default get-tags" %>
      </div>
      <%= form_for(@cartao, html: {remote: true}) do |f| %>
        <% if @cartao.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@cartao.errors.count, "error") %> prohibited this deck from being saved:</h2>
            <ul>
              <% @cartao.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field" style="margin: 15px;">
          <%= f.label :tags_string, "Tags" %> 
          <%= f.text_field :tags_string, style: "width: 90%" %>
        </div>

        <div class="row">
          <div class="col-md-8 trello-dropover" style="margin-left: 20px" id="dropover-pai" ondrop="dropPai(event);" ondragover="allowDrop(event)">
            &nbsp;Arraste o cart찾o pai aqui.
          </div>
          <div class="col-md-3">
            <button type="button"class="blank-button" onclick="removePai()" title="Remover cart찾o pai">
              <i class="icon-trash icon-2x"> </i>
            </button>
          </div>
        </div>

        <%= f.hidden_field :pai_trello_id %>
        <div id="input-pai">
          <% if @cartao.pai_trello_id %>
            <%= hidden_field_tag @cartao.pai_trello_id, "", :class => "card-placeholder card-form" %>
          <% end %>
        </div>

        <div id="lower-bar" class="navbar-fixed-bottom toolbar">
          <%= f.submit :class => "btn default-button" %>
          <%= link_to 'Ver cart천es', cartoes_path, :class =>  "btn default-button" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <%= render :partial => '/shared/boards'%>
  </div>
</div>
<br/> <br/> 


