<div class="blue-text" style="margin-left: 30px">
  Editando cartao
</div>
<div class="row">
  <div class="col-md-6">
    <div style="padding: 25px">
      <div class="grey-form" style="padding: 15px">
        <h4> Cartão </h4>
        <%= hidden_field_tag @cartao.trello_id, "", :class => "card-placeholder card-default get-tags" %>
      </div>
      <%= form_for(@cartao, html: {remote: true}) do |f| %>
        <% if @cartao.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@cartao.errors.count, "error") %> prohibited this deck from being saved:</h2>
            <ul>
              <% @cartao.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field" style="margin: 15px;">
          <%= f.label :tags_string, "Tags" %> 
          <%= f.text_field :tags_string, style: "width: 90%" %>
        </div>
        <div class="trello-dropover" style="margin-left: 20px" id="dropover-pai" ondrop="dropPai(event);" ondragover="allowDrop(event)">
          <center> Arraste o cartão pai aqui. </center> 
        </div>
        <div id="input-pai" style="padding: 20px">
          <% if @cartao.pai_trello_id %>
            <div id="card-div-<%= @cartao.pai_trello_id  %>">
              <%= hidden_field_tag @cartao.pai_trello_id, "", :class => "card-placeholder card-form" %>
              <button type="button" class="blank-button" title="Remover cartão" onclick="removePai(this)" style="float: right">
                <i class="icon-trash"> </i>
              </button>

            </div>
          <% end %>
        </div>
        <%= f.hidden_field :pai_trello_id %>
        <div class="trello-dropover" style="margin-left: 20px" id="dropover-filho" ondrop="dropFilho(event);" ondragover="allowDrop(event)">
          <center> Arraste cartões filhos aqui. </center>
        </div>
        <div id="input-filhos" style="padding: 20px">
          <% @cartao.filhos.each do |filho| %>
            <div id="card-div-<%= filho.trello_id  %>">
              <%= hidden_field_tag filho.trello_id, "", :class => "card-placeholder card-form" %>
              <button type="button" class="blank-button" title="Remover cartão" onclick="removeCard(this)" style="float: right">
                <i class="icon-trash"> </i>
              </button>
              <%= hidden_field_tag 'cartao[filhos_array][]', filho.trello_id %>
            </div>
          <% end %>
        </div>

        <div id="card-div-blueprint" style="display: none">
          <button type="button" class="blank-button" onclick="removeCard(this)"
                  title="Remover cartão" style="float: right">
            <i class="icon-trash"> </i>
          </button>
          <%= hidden_field_tag 'cartao[filhos_array][]' %>
        </div>

        <div id="lower-bar" class="navbar-fixed-bottom toolbar">
          <%= f.submit :class => "btn default-button" %>
          <%= link_to 'Ver cartões', cartoes_path, :class =>  "btn default-button" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <%= render :partial => '/shared/boards'%>
  </div>
</div>
<br/> <br/> 


