<div class="blue-text" style="margin-left: 30px">
  Estatísticas de cartões do Trello
</div>

<%= form_tag filtrar_cartoes_path do %>
  <div class="container" style="width:80%">
    <div class="row">
      <div class="col-md-3">
        <%= select_tag(:ano, options_for_select(@anos, @ano), {:class => 'menu_select'}) %>
      </div>

      <div class="col-md-3">
        <%= select_tag(:mes, options_for_select(@meses, @mes), {:class => 'menu_select'}) %>
      </div>

      <div class="col-md-3">
        <%= select_tag(:dia, options_for_select(@dias, @dia), {:class => 'menu_select'}) %>
      </div>

      <div class="col-md-3" id="cartao_pai_select">
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <%= select_tag(:usuario_id, options_for_select(@usuarios, @usuario), {:class => 'menu_select'}) %>
      </div>

      <div class="col-md-3">
        <%= select_tag(:projeto_id, options_for_select(@projetos, @projeto), {:class => 'menu_select'}) %>
      </div>

      <div class="col-md-3">
        <%= select_tag(:tag_id, options_for_select(@tags, @tag), {:class => 'menu_select'}) %>
      </div>

      <div class="col-md-3">
        <%= submit_tag('Filtra', {:class => 'btn default-button'}) %>
      </div>
    </div>
  </div>
<% end %>
<%= hidden_field_tag :cartoes_pais_ids, @cartoes_pais %>
<%= hidden_field_tag :cartoes_pais_trello_ids, @cartoes_pais_trello_ids %>

<div class="blue-line">  </div>

<table  class="list-table">
  <tr>
    <th> Cartão </th>
    <th> Data </th>
    <th> Horas Totais </th>
    <th> Estimativa </th>
    <th> Número de atividades </th>
    <th> Detalhes </th>
  </tr>
  <% @cartoes.each do |cartao| %>
    <tr>
      <td> <%= hidden_field_tag cartao.trello_id, "", :class => "card-placeholder card-default" %> </td>
      <td> <%= cartao.datas%> </td>
      <td> <%= int_to_horas(cartao.horas_trabalhadas) %> </td>
      <td> <%= cartao.estimativa.to_s %> </td>
      <td> <%= cartao.atividades.count %> </td>
      <td>
        <%= link_to '<i class="icon-list"></i>'.html_safe, cartao_path(cartao), :class => "nohover" %>
        <%= link_to '<i class="icon-edit"> </i>'.html_safe, edit_cartao_path(cartao),
        target: "_blank", title: "Editar cartão", :class => "nohover" %>
      </td>
    </tr>
  <% end %>
</table>
