<div class="row">
  <div class="col-md-7">
    <%= f.label :street, "Rua" %>
    <%= f.text_field :street, :style => "width: 90%" %>

    <%= f.label :bairro %>
    <%= f.text_field :bairro, :style => "width: 90%" %>

    <%= f.label :city, "Cidade" %>
    <%= f.text_field :city %>

    <%= f.label :state, "Estado" %>
    <%= f.text_field :state %>
  </div>
  <div class="col-md-5">
    <%= f.label :number, "Número" %>
    <%= f.text_field :number %>

    <%= f.label :complemento %>
    <%= f.text_field :complemento %>

    <%= f.label :cep %>
    <%= f.text_field :cep, class: 'cep' %>
  </div>
</div>
