<h3> Relacionamento de projetos </h3>
<div class="row">
  <div class=" col-md-6">
    <table>
      <tr>
        <th><%= f.label "Super-Projeto" %></th>
        <th style="padding: 0px 20px;"><%= f.label "Sub-Projeto"%></th>
      </tr>
      <tr>
        <td><%= radio_button_tag :super_projeto, true, @eh_super_projeto%></td>
        <td style="padding: 0px 20px;"><%= radio_button_tag :super_projeto, false, !@eh_super_projeto%></td>
      </tr>
    </table>
  </div>

  <div id="filhos">
    <table>
      <tr>
        <th><%= f.label "filho?", :style => "margin-right: 20%"%></th>
        <th><%= f.label "projetos filhos" %>                     </th>
      </tr>
      <% @filhos_for_select.each_with_index do |sub, index| %>
        <tr>
          <td><%= check_box_tag "sub_projetos[#{index}[filho]", 1, !(@projeto.sub_projetos[index].nil?) %>    </td>
          <td><%=@filhos_for_select[index][0]%><%= hidden_field_tag "sub_projetos[#{index}[id]]", @filhos_for_select[index][1], :style => "margin-right: 50%"%></td>
        </tr>
      <%end%>
    </table>
  </div>
  <div class="col-md-offset-1 col-md-5" id="pai">
    <%= f.label "projeto pai" %>
    <%= f.select :super_projeto_id, options_for_select(@pais_for_select, [@projeto.super_projeto.try(:nome), @projeto.super_projeto_id]), :style => "width: 70%"%>
  </div>
</div>