<div class="container">
                        <div class="row">
                          <div class="col-md-6">
                            <%= f.label :role %>
                            <%= f.select :role, options_for_select(["usuario normal", "diretor", "admin" ], @user.role) %>
                            <%= f.label :status, "Status no Sistema" %>
                            <%= f.label :ativo, :class => "inline-label" %>
                            <%= f.radio_button :status, true, :class => "inline-label", :style => "margin: 0;" %>
                            <%= f.label :inativo, :class => "inline-label", :style => "margin-left: 20px;" %>
                            <%= f.radio_button :status, false, :style => "margin: 0;" %>
                            <%= f.label :login_trello, "Login no Trello" %>
                            <%= f.text_field :login_trello, :style => "width: 50%" %>
                          </div>

                          <div class="col-md-6">
                            <%= f.label :projetos %>
                            <% @user.projetos.each do |p| %>
                              <%= p.nome %> <br/>
                            <% end %>
                          </div>
                        </div>
                      </div>