<div class="form-horizontal">
  <%= f.fields_for :contas, :allow_destroy => true do |c| %>
      <div class="form-group">
        <%= c.label :banco, :class => "col-sm-2" %>
        <%= c.text_field :banco, :class => "col-sm-9" %>
      </div>

      <div class="form-group">
        <%= c.label :agencia, :class => "col-sm-2" %>
        <%= c.text_field :agencia, class: 'agencia col-sm-9' %>
      </div>

      <div class="form-group">
          <%= c.label :numero, "Conta", :class => "col-sm-2" %>
          <%= c.text_field :numero, class: 'conta col-sm-9' %>
      </div>

      <div class="form-group">
            <%= c.link_to_remove '<i class="icon-trash icon-2x"> </i>'.html_safe, :class => 'nohover col-sm-2' %>
      </div>
  <% end %>
  <%= f.link_to_add 'Adicionar conta', :contas, :class => "btn default-button", :style => "margin-bottom: 20px;"%>
</div>