
<div class="blue-text" style="margin-left: 30px">
 Edição de Usuários
</div>
<div class="blue-line">  </div>


<%= form_for(@user,  :validate => true, :html => {"data-type" => :json}) do |f| %>
      <div class="div_edit">
      <div class="container-fluid">

        <div class="row-fluid">
        <div class="span6">
        <%= f.label :nome %>
        <%= f.text_field :nome, :style => "width: 100%"%>
        </div>
        <div class="span5 offset1">
         <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, :style => "width: 85%" %>
        </div>
      </div>
      </div>


      <div class="container-fluid">

        <div class="row-fluid">
          <div class="span7">

            <div class="field">
              <%= f.label :horario_mensal %>
              <%= f.number_field :horario_mensal, :style => "width: 65%" %>
            </div>

            <div class="field">
              <%= f.label :valor_da_hora %>
              <%= f.number_field :valor_da_hora , :style => "width: 65%"%>
            </div>

            <div class="field">
              <%= f.label :valor_da_bolsa_fau, "Valor da bolsa FAU" %>
              <%= f.number_field :valor_da_bolsa_fau, :style => "width: 65%" %>
            </div>

            <div class="field">
              <%= f.label :horas_da_bolsa_fau, "Horas da bolsa da FAU" %>
              <%= f.number_field :horas_da_bolsa_fau , :style => "width: 65%"%>
            </div>

            <div class="field" >
              <%= f.label :funcao, "função" %>
              <%= f.text_field :funcao, :style => "width: 85%"%>
            </div>

            <div class="field">
              <%= f.label :entrada_usp %>
              <%= f.date_select :entrada_usp, {}, :style => "width: 100px" %>
            </div>

            <div class="field">
              <%= f.label "saida prevista usp"%>
              <%= f.date_select :saida_usp, {}, :style => "width: 100px" %>
            </div>

           <div class="field">
              <%= f.label :role %>
              <%= f.select :role, options_for_select(["admin", "coordenador", "desenvolvedor"]) %>
           </div>
          </div>
          <div class="span5">

            <div class="field">
              <%= f.label :cpf %>
              <%= f.text_field :cpf , :style => "width: 85%"%>
            </div>

            <div class="field">
              <%= f.label :banco %>
              <%= f.text_field :banco , :style => "width: 85%"%>
            </div>

            <div class="field">
              <%= f.label :conta %>
              <%= f.number_field :conta , :style => "width: 85%"%>
            </div>

            <div class="field">
              <%= f.label :agencia %>
              <%= f.number_field :agencia , :style => "width: 85%"%>
            </div>

            <div class="field">
              <%= f.label :data_admissao_fau, "Data de admissão na FAU"%>
              <%= f.date_select :data_admissao_fau, {}, :style => "width: 100px" %>
            </div>

            <div class="field">
              <%= f.label :data_demissao_fau, "Data de Demissão da FAU" %>
              <%= f.date_select :data_demissao_fau, {}, :style => "width: 100px" %>
            </div>

            <div class="field", style = "float:left; width:45px">
              <%= f.label :ddd , "DDD"%>
              <%= f.number_field :ddd, :value => @user.cel[0..1], :style => "width: 61%"%>
            </div>

            <div class="field" >
              <%= f.label :tel_numero, "telefone" %>
              <%= f.number_field :tel_numero, :value => @user.cel[2..(@user.cel.length)], :style => "width: 16%, inline-block"%>
            </div>


          </div>
        </div>
      </div>

    <div class="blue-line">  </div>
    <div class="container-fluid">
      <div class="row-fluid">

      <%= f.fields_for :addresses do |builder| %>
        <%= render "/addresses/form", :f => builder %>
      <% end %>

      </div>
    </div>


      <br/>
      <div class="actions">
        <%= link_to 'Cancelar', :back , :style=>"float: left;margin-left: 21px;", :class => "btn default-button"%>
        <%= f.submit "Salvar", :style => "float: left;margin-left: 10px;", :class => "btn default-button"%>
      </div>
      </div>
<br />
    <% end %>
