<div class="blue-text" style="margin-left: 30px">
  Edição de Usuários
</div>
<div class="blue-line">  </div>
<%= nested_form_for(@user,  :validate => true, :html => {"data-type" => :json}) do |f| %>
  <ul class="nav nav-tabs">
    <li><a href="#dadospessoais" data-toggle="tab">Dados Pessoais</a></li>
    <li><a href="#dadosbancarios" data-toggle="tab">Dados Bancários</a></li>
    <li><a href="#endereco" data-toggle="tab">Endereço</a></li>
    <% if can? :create, Usuario %>
      <li><a href="#dadosprofissionais" data-toggle="tab">Dados Profissionais</a></li>
    <% end %>
    <li><a href="#dadosacademicos" data-toggle="tab">Dados Acadêmicos</a></li>
    <li><a href="#anexos" data-toggle="tab">Anexos</a></li>
    <% if can? :create, Usuario %>
      <li><a href="#configuracao" data-toggle="tab">Configuração</a></li>
    <% end %>
  </ul>  
  <div class="tab-content">
    <div class="tab-pane active" id="dadospessoais">
      <%= render :partial => 'dadospessoais', locals: {f: f} %>
    </div>

    <div class="tab-pane" id="dadosbancarios">
      <%= render :partial => 'dadosbancarios', locals: {f: f} %>
    </div>

    <div class="tab-pane" id="endereco">
      <%= render :partial => 'endereco', locals: {f: f} %>            
    </div>

    <% if can? :create, Usuario %>
      <div class="tab-pane" id="dadosprofissionais">                       
        <%= render :partial => 'dadosprofissionais', locals: {f: f} %>                
      </div>
    <% end %>

    <div class="tab-pane" id="dadosacademicos">  
      <%= render :partial => 'dadosacademicos', locals: {f: f} %>              
    </div>

    <div class="tab-pane" id="anexos"> 
      <%= render :partial => 'anexos', locals: {f: f} %>               
    </div>


    <% if can? :create, Usuario %>
      <div class="tab-pane" id="configuracao"> 
         <%= render :partial => 'configuracao', locals: {f: f} %>             
      </div>
    <%end%>
  </div>

  <div class="grey-form" style="background: none">
    <%= f.submit "Salvar", :class => "btn default-button"%>
    <%= link_to 'Cancelar', :back , :class => "btn default-button"%>
  </div>
<% end %>
