<div class="blue-text" style="margin-left: 30px">
  Edição de Usuários
</div>
<div class="blue-line">  </div>

<%= nested_form_for(@user,  :validate => true, :html => {"data-type" => :json}) do |f| %>
  <div class="div_edit">

    <div class="form-group">
      <h3> Dados Pessoais </h3>
      <div class="container-fluid">

        <div class="row-fluid">
          <div class="span6">
            <%= f.label :nome %>
            <%= f.text_field :nome, :style => "width: 100%"%>
          </div>
          <div class="span5 offset1">
            <%= f.label :email %>
            <%= f.email_field :email, :autofocus => true, :style => "width: 85%" %>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span6">
            <%= f.label :cpf %>
            <%= f.text_field :cpf%>
          </div>
          <div class="span5 offset1">
            <%= f.label :rg %>
            <%= f.text_field :rg %>
          </div>
        </div>

        <%= f.fields_for :telefones, :allow_destroy => true do |tel| %>
          <div class="row-fluid">
            <div class="span1">
              <%= tel.label :ddd , "DDD"%>
              <%= tel.text_field :ddd, :style => "width: 35px;" %>
            </div>
            <div class="span6">
              <%= tel.label :numero, "Telefone" %>
              <%= tel.text_field :numero %>
              <%= tel.link_to_remove '<i class="icon-trash icon-2x"> </i>'.html_safe, :class => 'nohover' %>
            </div>
          </div>
        <% end %>
        <%= f.link_to_add 'Adicionar telefone', :telefones, :class => "btn default-button", :style => "margin-bottom: 20px;"%>
      </div>
    </div>

    <div class="form-group">
      <h3> Dados Bancários </h3>
      <div class="container-fluid">
        <%= f.fields_for :contas, :allow_destroy => true do |c| %>
          <div class="row-fluid">
            <div class="span4">
              <%= c.label :banco %>
              <%= c.text_field :banco %>
            </div>

            <div class="span4">
              <%= c.label :agencia %>
              <%= c.text_field :agencia %>
            </div>

            <div class="span4">
              <%= c.label :numero, "Conta" %>
              <%= c.text_field :numero %>
              <%= c.link_to_remove '<i class="icon-trash icon-2x"> </i>'.html_safe, :class => 'nohover' %>
            </div>
          </div>
        <% end %>
        <%= f.link_to_add 'Adicionar conta', :contas, :class => "btn default-button", :style => "margin-bottom: 20px;"%>
      </div>
    </div>

    <div class="form-group">
      <h3> Endereço </h3>
      <div class="container-fluid">
        <%= f.fields_for :address do |builder| %>
          <%= render "/addresses/form", :f => builder %>
        <% end %>
      </div>
    </div>

    <% if can? :create, Usuario %>
      <div class="form-group">
        <h3> Dados Profissionais </h3>
        <div class="container-fluid">
          <%= f.fields_for :contratos, :allow_destroy => true do |c| %>
            <div class="row-fluid">
              <div class="span3">
                <%= c.label :hora_mes %>
                <%= c.text_field :hora_mes, :style => "width: 50%" %>

                <%= c.label :valor_hora %>
                <%= c.text_field :valor_hora, :style => "width: 50%" %>

                <%= c.label :contratante %>
                <%= c.text_field :contratante, :style => "width: 100%" %>

              </div>
              <div class="span4">
                <%= c.label :tipo, "Tipo de Contrato" %>
                <%= c.text_field :tipo, :style => "width: 50%" %>

                <%= c.label :funcao, "Função" %>
                <%= c.text_field :funcao, :style => "width: 50%" %>
              </div>
              <div class="span5">
                <%= c.label :inicio, "Data de inicio do contrato"%>
                <%= c.date_select :inicio, {}, :style => "width: 100px" %>

                <%= c.label :fim, "Data de término do contrato" %>
                <%= c.date_select :fim, {}, :style => "width: 100px" %>

                <br/> <br/>
                <%= c.link_to_remove '<i class="icon-trash icon-2x"> </i>'.html_safe, :class => 'nohover', :style => "display: block" %>
              </div>
            </div>
          <div class="grey-line"> </div>
          <% end %>
          <%= f.link_to_add 'Adicionar contrato', :contratos, :class => "btn default-button", :style => "margin-bottom: 20px;"%>
        </div>
      </div>

      <div class="form-group">
        <h3> Dados Acadêmicos </h3>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span6">
              <%= f.label :entrada_usp, "Entrada na USP" %>
              <%= f.date_select :entrada_usp, {}, :style => "width: 100px" %>
              <%= f.label :saida_usp, "Data ou previsão de formatura"%>
              <%= f.date_select :saida_usp, {}, :style => "width: 100px" %>
            </div>
            <div class="span6">
              <%= f.label :curso %>
              <%= f.text_field :curso, :style => "width: 50%" %>
              <%= f.label :formado, "Formado?" %>
              <%= f.label :sim, :class => "inline-label" %>
              <%= f.radio_button :formado, true, :class => "inline-label", :style => "margin: 0;" %>
              <%= f.label "Não", :class => "inline-label", :style => "margin-left: 20px;" %>
              <%= f.radio_button :formado, false, :style => "margin: 0;" %>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <h3> Configuração </h3>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span6">
              <%= f.label :role %>
              <%= f.select :role, options_for_select(["usuario normal", "diretor", "admin" ], @user.role) %>
              <%= f.label :status, "Status no Sistema" %>
              <%= f.label :ativo, :class => "inline-label" %>
              <%= f.radio_button :status, true, :class => "inline-label", :style => "margin: 0;" %>
              <%= f.label :inativo, :class => "inline-label", :style => "margin-left: 20px;" %>
              <%= f.radio_button :status, false, :style => "margin: 0;" %>
            </div>

            <div class="span6">
              <%= f.label :projetos %>
              <% @user.projetos.each do |p| %>
                <%= p.nome %> <br/>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <%end%>

    <div class="form-group" style="background: none">
      <%= f.submit "Salvar", :class => "btn default-button"%>
      <%= link_to 'Cancelar', :back , :class => "btn default-button"%>
    </div>
  </div>
<% end %>
