<div class="blue-text" style="margin-left: 30px">
  Usuários

  <%= select_tag :status, options_for_select(@status_list, @status), :style => "float:right; margin-right: 10px" %>
</div>

<div class="blue-line">  </div>

<table class="list-table">
  <tr>
    <th>Usuário</th>
    <th>Atividade</th>
    <th>Email</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to user.nome, edit_usuario_path(user) %>
      </td>

      <td>
        <%= user.role %>
      </td>

      <td>
        <%=  user.email %>
        <%= link_to '<i class="icon-trash"> </i>'.html_safe, usuario_path(user.id),
          method: :delete, data: {confirm: t("prompt.exclusao.confirmacao")},
          class: 'nohover', title: "Excluir", style: "position:absolute; right:3.5%;" %>
      </td>
    </tr>
  <% end %>
</table>

<% if can? :create, Usuario %>
  <%= link_to "Adicionar", "#myModal", :class => "btn default-button",
    :style => "margin: 15px;", "data-toggle" => "modal", :role => "button" %>
  <%= render :partial => "modal" %>
<%end%>

<script>
   var usuariopath = "<%= usuarios_path %>";
</script>
