<div class="blue-text" style="margin-left: 30px">
  Usuários
</div>

<div class="blue-line">  </div>

<table class="list-table">


  <tr>
<th>Usuário</th>
<th>Atividade</th>
<th>Email</th>
</tr>
<% @users.each do |user| %>
  <tr>
      <td>
        <%= link_to user.nome, edit_usuario_path(user) %>
      </td>

      <td>
        <%= user.role %>
      </td>

      <td>
        <%=  user.email %>
      </td>
    </tr>
  <% end %>
</table>

<% if can? :create, Usuario %>
  <%= link_to "Adicionar", "#myModal", :class => "btn default-button",
    :style => "margin: 15px;", "data-toggle" => "modal", :role => "button" %>

  <%= render :partial => "modal" %>
<%end%>
