<table class="list-table days-table" id="ausencias">
  <tr>
    <th>Dia</th>
    <th style="width: 60%">Justificativa </th>
    <th>Projeto</th>
    <th>atestado</th>
    <th>Abonada?</th>
    <th></th>
  </tr>
  <% @ausencias.each do |ausencia| %>
    <tr>
      <td style="width: 11%">
        <%= "#{ausencia.dia.data.day} / #{ausencia.dia.data.month} (#{t("date.abbr_day_names")[ausencia.dia.data.wday]})"%>
      </td>
      <td>
        <%= ausencia.justificativa %>
      </td>
      <td>
        <%= ausencia.projeto.nome%>
      </td>
      <td>
        <%= link_to File.basename(ausencia.anexo.arquivo.url),
          "/uploads/#{ausencia.anexo.id}/#{File.basename(ausencia.anexo.arquivo.url)}" unless ausencia.anexo.nil? %>
      </td>
      <td>
        <% if ausencia.abonada? %>
          <i class="icon-ok"></i>
        <% else %>
          <i class="icon-remove"></i>
        <% end %>
      </td>
      <td>
        <%= link_to("", new_ausencia_path(tipo: @tipo, data: ausencia.dia.data, usuario_id: ausencia.dia[:usuario_id], projeto_id: ausencia[:projeto_id]), :class => 'icon-edit nohover', :style => "margin-right: 10px") %>
        <%= link_to '<i class="icon-trash"> </i>'.html_safe,
          ausencia_path(ausencia.id), :method => :delete, :confirm => t("prompt.exclusao.confirmacao"),
          :class => 'nohover', :title => "Excluir"%>
      </td>
    </tr>
  <% end %>
  <tr style="border-top:thin solid; border-color:black">
    <td colspan=5>Horas totais de faltas abonadas </td>
    <td><%= horas_ausencias_abonadas(@inicio, @fim, @usuario.id) %></td>
  </tr>
</table>
