<%= nested_form_for dia, html: {remote: true} do |f| %>
  <%= hidden_field_tag :data, data %>
  <%= hidden_field_tag :dia_id, dia.id %>
  <%= hidden_field_tag :usuario_id, usuario.id %>

  <%= f.fields_for :horarios do |horario_form| %>

    <%= horario_form.label :entrada %>
    <%= horario_form.text_field :entrada, style: 'width: 55px;', class: 'timepicker horario_picker entrada_horario',
        onchange: "recalculaHoras(); formChanged(this.form)",
        value: horario_form.object.entrada.strftime('%H:%M') %> <br/>
    <%= horario_form.label :saida %>
    <%= horario_form.text_field :saida, style: 'width: 55px;', class: 'timepicker horario_picker saida_horario',
       onchange: "recalculaHoras(); formChanged(this.form)",
        value: horario_form.object.saida.strftime('%H:%M') %>
    <div>
      <%= horario_form.link_to_remove '<i class="icon-trash icon-2x"> </i>'.html_safe,  
      :class=>"nohover", :style => "float: right; margin-right: 10px" %>
    </div>
    <br />
    <br />
  <% end %>

  <%= f.link_to_add '<i class="icon-time icon-2x"></i> Novo Horário'.html_safe , :horarios,
    {:class => "nohover", id: "novo-horario-link"} %>
  <br /><br />

  <button type="submit" title="Salvar" class="icon-save icon-2x blank-button nohover"
          value="Salvar" onclick="return validateSliders();"></button>
  <%= render partial: "/shared/form_status" %>
<% end %>
