<% mensagens = atividade_form.object.mensagens %>
<% unless mensagens.blank? %>
  <div class="activity-message">
    <table>
      <% mensagens.each do |m| %>
         <% if m.autor_id != current_usuario.id %>
            <div class="mensagem-border-coordenador">
          <% else %>
            <div class="mensagem-border-usuario">
          <% end %>
            <div style="color: #3B0B17"><b><%= m.usuario.nome %></b></div>
            <div><%= m.conteudo %></div>
            <div><i><%= m.created_at.strftime("%d/%b/%Y at %k:%M:%S") %></i></div>
          </div>
      <%end%>
    </table>
    <%= atividade_form.fields_for Mensagem.new, :allow_destroy => true do |msg| %>
      <%= msg.text_field :conteudo %>
      <%= msg.hidden_field :atividade_id, :value =>  atividade_form.object.id%>
      <%= msg.hidden_field :autor_id,     :value =>  atividade_form.object.usuario.id%>
    <%end%>
  </div>
<% end %>
