<div id="navegacao" style="width: 0%; float: left; display: none" >
  <button onclick="hideNavegacao()" class="nav-button" style="float: right">
    <i class="icon-double-angle-left"></i> Esconder
  </button>
  <a style="cursor: pointer;" data-toggle="collapse" data-target="#intervalo">
    <h4>Intervalo</h4>
  </a>
  <div id="intervalo" class="collapse">
    <ul>
      <li><a href="<%= periodos_dias_path(tipo: 'p') %>" >Períodos</a></li>
      <li><a href="<%= periodos_dias_path(tipo: 'm') %>" >Meses</a></li>
      <li><a href="<%= periodos_dias_path(tipo: 's') %>" >Semanas</a></li>
    </ul>
  </div>

  <a style="cursor: pointer;" data-toggle="collapse" data-target="#projetos">
    <h4>Projetos</h4>
  </a>
  <div id="projetos" class="collapse">
    <% @projetos.each do |projeto| %>
      <%= check_box_tag "projeto[0]", projeto[1], true,onclick: '$(".proj' + projeto[1].to_s + '_mark").toggle();' %> <%= projeto[0] %>
      <br/>
    <%  end %>
  </div>

  <a style="cursor: pointer;" data-toggle="collapse" data-target="#legenda">
    <h4>Legenda</h4>
  </a>
  <div id="legenda" class="collapse in">
    <table>
      <tr>
        <td><div class="hoje" style="width: 10px; height: 10px"></div></td><td>Hoje</td> 
      </tr><tr>
        <td><div class="reprovacao" style="width: 10px; height: 10px"></div></td><td>Dia com Atividade Reprovada</td> 
      </tr><tr>
        <td><div class="ausencia" style="width: 10px; height: 10px"></div></td><td>Dia com Ausência Cadastrada</td> 
      </tr><tr>
        <td><div class="diautil" style="width: 10px; height: 10px"></div></td><td>Dias Úteis</td> 
      </tr><tr>
        <td><div class="feriado" style="width: 10px; height: 10px"></div></td><td>Feriado</td> 
      </tr><tr>
        <td><div class="fimdesemana" style="width: 10px; height: 10px"></div></td><td>Fim de Semana</td> 
      </tr>
    </table>
  </div>

  <% if can? :manage, :usuario %>
    <%= select_tag :menu_select, options_for_select(@usuarios, @usuario.id),
      :prompt => "Escolha um usuario", :onchange => "mudaUsuario(this)" %>
  <%end%>
</div>