<div td='topbar'>
  <table id="organizer">
    <tr>
      <td id="navshow" style="width:5%;">
        <div id="prenavegacao">
          <button id="show-navegacao" onclick="showNavegacao();" class="nav-button">
            <i class="icon-angle-right icon-2x"></i>
          </button> 
         </div>
         <div id="prosnavegacao" style="display: none">
          <button onclick="hideNavegacao()" class="nav-button">
           <i class="icon-angle-left icon-2x"></i>
          </button>
         </div>
      </td>
      <td id="home" style="width:5%;"> <i class="icon-home icon-3x"></i></td>
      <td id="navigator" style="width:30%;"> 
        <% if tipo.blank? %>
            <% tipo = 'p' %>
        <% end %>
          
        <% if origin == 'i' %>   
          
          <% if tipo == "p" %>
            <a href="<%= dias_path(data: (inicio.to_date - 1.day), usuario_id: current_usuario, tipo: tipo) %>"><i class="icon-arrow-left"></i></a> 
              <input type="text" id="datepicker1" size=10 value="<%= inicio.to_date.strftime("%d/%m/%Y") %>"> a <input type="text" id="datepicker2" size=10 value="<%= fim.to_date.strftime("%d/%m/%Y") %>"> 
            <a href="<%= dias_path(data: (fim.to_date + 1.day), usuario_id: current_usuario, tipo: tipo) %>"><i class="icon-arrow-right"></i></a> 
            <a tpg="<%= dias_path(data: (fim.to_date), usuario_id: current_usuario, tipo: tipo) %>" href="#" onclick="ver_periodo_novo(this);">Ver Novo Periodo</a>
           <% end %>
        
          <% if tipo == "m" %>
            <a href="<%= dias_path(data: (inicio.to_date - 1.day), usuario_id: current_usuario, tipo: tipo) %>"><i class="icon-arrow-left"></i></a> 
              <%= inicio.to_date.strftime("%b") %> 
            <a href="<%= dias_path(data: (fim.to_date + 1.day), usuario_id: current_usuario, tipo: tipo) %>"><i class="icon-arrow-right"></i></a>
            
            <a href="<%= dias_path(data: (inicio.to_date - 1.year), usuario_id: current_usuario, tipo: tipo) %>"><i class="icon-arrow-left"></i></a> 
              <%= inicio.to_date.year %> 
            <a href="<%= dias_path(data: (inicio.to_date + 1.year), usuario_id: current_usuario, tipo: tipo) %>"><i class="icon-arrow-right"></i></a>
          <% end %>
        
          <% if tipo == "s" %>
            SEMANAS
          <% end %>
        <% elsif origin == 'p' %>
            <% if tipo == "p" %>
              <% if data.nil? %>
                <%  data = Date.today %>
              <% end %> 
              <% if !intervalo.blank? %>
              <a href="<%= periodos_dias_path(data: data.to_date - 1.year, ano: (data.to_date - 1.year).year, tipo: tipo, view: view) %>"><i class="icon-arrow-left"></i></a> 
                <input type="text" id="datepicker1" size=10 value="<%=  intervalo.first.first %>"> a <input type="text" id="datepicker2" size=10 value="<%=  intervalo.last.last %>" > 
              <a href="<%= periodos_dias_path(data: data.to_date + 1.year, ano: (data.to_date + 1.year).year, tipo: tipo, view: view) %>"><i class="icon-arrow-right"></i></a>
              <a tpg="<%= periodos_dias_path(data: data.to_date, ano: (data.to_date).year, tipo: tipo, view: view) %>" href="#" onclick="ver_periodo_novo(this);">Ver Novo Periodo</a> 
              <% end %>
            <%  end %>
            
            <% if tipo == "m" %>         
              <a href="<%= periodos_dias_path(data: data.to_date - 1.year, ano: (data.to_date - 1.year).year, tipo: tipo, view: view) %>"><i class="icon-arrow-left"></i></a> 
                <%= data.to_date.year %>
              <a href="<%= periodos_dias_path(data: data.to_date + 1.year, ano: (data.to_date + 1.year).year, tipo: tipo, view: view) %>"><i class="icon-arrow-right"></i></a>
            <%  end %>  
        <% end %>
        
       </td>
      <td id="blankspace" style="width:45%;"> </td>
      <td id="pertype" style="width:10%;">
        <table>
          <tr >
            <% if view == "anual" %>
              <% if data.blank? %>
                <% data = Date.today %>
              <% end %>
              <% if tipo != 'p' %>
                <td><a href="<%= periodos_dias_path(data: data, tipo: 'p', view: view) %>" >[Períodos]</a></td>
              <% else %>
                <td><b>[Períodos]</b></td>
              <% end %>
                
              <% if tipo != 'm' %>  
                <td><a href="<%= periodos_dias_path(data: data, tipo: 'm', view: view) %>" >[Meses]</a></td>
              <% else %>
                <td><b>[Meses]</b></td>
              <% end %>
                
              <% if tipo != 's' %>
                <td><a href="<%= periodos_dias_path(data: data, tipo: 's', view: view) %>" >[Semanas]</a></td>
              <% else %>
                <td><b>[Semanas]</b></td>
              <% end %>
            <% elsif view == "periodo" %>
              <td><a href="<%= dias_path(inicio: inicio, usuario_id: current_usuario, tipo: "p", view: view) %>" >[Períodos]</a></td>
              <td><a href="<%= dias_path(inicio: inicio, usuario_id: current_usuario, tipo: "m", view: view) %>" >[Meses]</a></td>
              <td><a href="<%= dias_path(inicio: inicio, usuario_id: current_usuario, tipo: "s", view: view) %>" >[Semanas]</a></td>
            <% end %>
          </tr>
          <tr>
            
            <% if view == "anual"%>
              <td colspan="3" bgcolor="red"><center><a href="<%= dias_path(data: Date.today, usuario_id: current_usuario, tipo: tipo, view: 'periodo') %>" >[Anual]</a></center></td> 
            <%elsif view == "periodo" %>               
              <td colspan="3"><center><a href="<%= periodos_dias_path(data: inicio, tipo: tipo, view: 'anual') %>" >[Anual]</a></center></td>
            <% end %>      
          </tr>
        </table>
      </td>
        <td id="blankspace" style="width:3%;"> </td>
      </tr>
   </table>
   <br/>
</div>
