<%= render :partial => 'navegacao' %>

<div id="calendario" style="width: 100%; float: right;">
  <button id="show-navegacao" onclick="showNavegacao();" class="nav-button">
    Mostrar Legenda <i class="icon-double-angle-right"></i>
  </button>

  <div class="blue-text">
    <%= link_to '<i class="icon-double-angle-left"></i>'.html_safe, periodos_dias_path(:ano => @ano.to_i - 1, :usuario_id => @usuario.id) %>
    <%= @ano %>
    <%= link_to '<i class="icon-double-angle-right"></i>'.html_safe, periodos_dias_path(:ano => @ano.to_i + 1, :usuario_id => @usuario.id) %>
  </div>

  <ul class="nav nav-tabs fix-color" id="myTab">  
    <li class="active"><a href="#periodos">Periodos</a></li>
    <li><a href="#meses">Meses</a></li>

  </ul>

  <div class="blue-line">  </div>

  <div class="tab-content">

    <div class="tab-pane" id="meses">
      <table class="month-table" style="width: 100%">
        <tr>
          <% @meses.each_with_index do |m, i| %>
            <td class="<%= 'today' if m.include?(@today) %>">
              <%= link_to periodo_link(m[:inicio], m[:fim], @usuario.id, 'm', m[:inicio].month).html_safe,
                dias_path(inicio: m[:inicio].to_formatted_s, fim: m[:fim].to_formatted_s, usuario_id: @usuario.id, tipo: 'm'),
                :class => (tem_reprovacao?(m[:inicio],m[:fim],@usuario.id) ? "month-link red-link" : "month-link blue-link") %>
            </td>
            <% if (i + 1) % 6 == 0 %>
            </tr>
            <tr>
            <% end %>
          <% end %>
        </tr>
      </table>
    </div>

    <div class="tab-pane active" id="periodos">
      <table class="month-table" style="width: 100%">
        <tr>
          <% @periodos.each_with_index do |p, i| %>
            <td class="<%= 'today' if p.include?(@today) %>">
              <%= link_to periodo_link(p.first, p.last, @usuario.id, 'p').html_safe,
                dias_path(inicio: p.first.to_formatted_s, fim: p.last.to_formatted_s, usuario_id: @usuario.id, tipo: 'p'),
                :class => (tem_reprovacao?(p.first,p.last,@usuario.id) ? "month-link red-link" : "month-link blue-link") %>
            </td>
            <% if (i + 1) % 6 == 0 %>
            </tr>
            <tr>
            <% end %>
          <% end %>
        </tr>
      </table>  
    </div>
  </div>
</div>
