<%= render :partial => 'navegacao' %>

<div id="lista" style="width: 100%; float: right;">
  <%= render :partial => 'periodos_topbar' %>
  <div id="pagedata">
    <table class="month-table" style="width: 100%">
      <tr>
        <% if @tipo == 'm' and !@intervalo.blank? %>

          <% @intervalo.each_with_index do |m, i| %>
            <td class="<%= 'today' if m.include?(@today) %>">
              <%= link_to periodo_link(m[:inicio], m[:fim], @usuario.id, @tipo, m[:inicio].month).html_safe,
                dias_path(inicio: m[:inicio].to_formatted_s, fim: m[:fim].to_formatted_s, usuario_id: @usuario.id, tipo: @tipo),
                :class => (tem_reprovacao?(m[:inicio],m[:fim],@usuario.id) ? "month-link red-link" : "month-link blue-link") %>
            </td>
            <% if (i + 1) % 6 == 0 %>
            </tr>
            <tr>
            <% end %>
          <% end %>

        <% elsif @tipo == 'p' and !@intervalo.blank? %>
          <% @intervalo.each_with_index do |p, i| %>
            <td>
              <%= link_to periodo_link(p.first, p.last, @usuario.id, 'p').html_safe,
                dias_path(inicio: p.first.to_formatted_s, fim: p.last.to_formatted_s, usuario_id: @usuario.id, tipo: 'p'),
                :class => classe_do_periodo(p.first, p.last, @usuario.id) %>
            </td>
            <% if (i + 1) % 6 == 0 %>
            </tr>
            <tr>
            <% end %>
          <% end %>

        <% elsif @tipo == 's' and !@intervalo.blank? %>
          <% @intervalo.each_with_index do |p, i| %>
            <td class="<%= 'today' if p.include?(@today) %>">
              <%= link_to periodo_link(p[:inicio], p[:fim], @usuario.id, 'p').html_safe,
                dias_path(inicio: p[:inicio].to_formatted_s, fim: p[:fim].to_formatted_s, usuario_id: @usuario.id, tipo: 'p'), :class => (tem_reprovacao?(p[:inicio],p[:fim],@usuario.id) ? "month-link red-link" : "month-link blue-link") %>
            </td>
            <% if (i + 1) % 6 == 0 %>
            </tr>
            <tr>
            <% end %>
          <% end %>

        <% end %>
      </tr>
    </table>
  </div>
</div>


<script>
  var url = "<%= periodos_dias_path %>";
</script>
