<h3 style="margin-left: 30px;">
  <%= "#{@mes.usuario.nome} - #{t('date.month_names')[@mes.numero]} de #{@mes.ano}" %>
</h3>

<table  class="list-table">
  <tr>
    <th> Valor </th>
    <th> Fonte </th>
    <th> Motivo </th>
    <th> Data </th>
  </tr>
  <% @mes.pagamentos.each do |p| %>
    <tr>
      <td> <%=  "R$ #{"%.2f"}" % p.valor %> </td>
      <td> <%= p.fonte %> </td>
      <td> <%= p.motivo %> </td>
      <td> <%= p.data.strftime("%d/%m/%Y") %> </td>
    </tr>
  <% end %>
</table>