<div class="blue-text" style="margin-left: 30px">
  Pagamentos
</div>

<div class="blue-line">  </div>

<h3 style="margin-left: 30px;">
  <%= @usuario.nome %>&nbsp&nbsp&nbsp<%= @periodo.first.to_s(:rfc822)  + " . . . . " + @periodo.last.to_s(:rfc822)%>
</h3>

<table  class="list-table">
  <tr>
    <th> Valor </th>
    <th> Fonte </th>
    <th> Motivo </th>
    <th> Data </th>
    <th></th>
  </tr>
  <% @pagamentos.each do |p| %>
    <tr>
      <td> <%= "R$ #{"%.2f"}" % p.valor %> </td>
      <td> <%= p.fonte %> </td>
      <td> <%= p.motivo %> </td>
      <td> <%= p.data.strftime("%d/%m/%Y") %> </td>
      <th><%= link_to '<i class="icon-trash"> </i>'.html_safe, pagamento_path(p.id),
          :method => :delete, :confirm => t("prompt.exclusao.confirmacao"),
          :class => 'nohover', :title => "Excluir"%></th>
    </tr>
  <% end %>
</table>

<% if can? :create_or_update, Pagamento %>
  <p><div id="botao" class="btn default-button" onclick="mostraForm()">Novo Pagamento</div></p>
  <div id="form" style="display:none">
    <%= form_for @pagamento, :validate => true,
    :html => {"data-type" => :json} do |p| %>
      <div class="container-fluid">
      <%= p.hidden_field :usuario_id, :value => @usuario.id%>
      <%= p.hidden_field :motivo, :value => "salario"%>
      <%= p.hidden_field :data, :value => @periodo.last%>
        <div class="row-fluid">
          <div class="span3">
            <%= p.label :valor%>
            <%= p.text_field :valor %>
          </div>
          <div class="span3">
            <%= p.label :fonte %>
            <%= p.text_field :fonte %>
          </div>
        </div>
      </div>
    <%= p.submit "Salvar", :class => "btn default-button", :style => "margin-left: 15px;"  %>
    <%end%>
  </div>
<% end %>

<div class="navbar-fixed-bottom toolbar">
  <%= link_to 'Voltar', periodos_pagamentos_path(usuario_id: @usuario.id), :class => "btn default-button"%>
</div>

