<div class="blue-text" style="margin-left: 30px">
  Pagamentos
</div>

<div class="blue-line">  </div>

<h3 class="blue-text"> <%= @usuario.nome %>  </h3>


<h4 style="margin-left: 20px">
  Total recebido: <b> R$ <%= "%.2f" % @total %> </b> <br/>
  Media por mês: <b> R$ <%= "%.2f" % @media %> </b>
</h4>

<table  class="list-table">
  <tr>
    <th> Mês </th>
    <th> Ano </th>
    <th> Valor da hora </th>
    <th> Horas trabalhadas </th>
    <th> Valor a ser recebido </th>
    <th> Total pago </th>
    <th></th>
  </tr>
  <% @meses.each do |m| %>
    <tr>
      <td> <%= t("date.month_names")[m.numero] %>  </td>
      <td> <%= m.ano %> </td>
      <td> <%= "R$ #{"%.2f" % m.contrato.valor_hora}" %> </td>
      <td> <%= m.horas_trabalhadas_aprovadas %> </td>
      <td> <%= "R$ #{"%.2f" % (m.contrato.valor_hora * m.calcula_horas_trabalhadas)}" %> </td>
      <td> <%= "R$ #{"%.2f" % m.pagamentos.sum(:valor)}"  %> </td>
      <td> <%= link_to '<i class="icon-dollar"></i>'.html_safe, listar_pagamentos_path(:mes_id => m.id),
          :class => 'nohover', :title => "Incluir pagamentos"%> </td>
    </tr>
  <% end %>
</table>

<div class="navbar-fixed-bottom toolbar">
  <%= link_to 'Voltar', :back, :class => "btn default-button"%>
</div>

