<!DOCTYPE html>
<html>
  <head>
    <title><%= t("simlab.titulo") %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "bootstrap.min" %>
    <script src="/assets/client.js?key=98853929c4100832c39e0f3c505d0332"></script>
    <%= javascript_include_tag "sinlab" %>
    <%= javascript_include_tag "sliders" %>
    <%= javascript_include_tag "trello" %>
    <%= javascript_include_tag "jquery.mask.min.js" %>
    <%= javascript_include_tag "jquery-ui-1.10.3.custom.min" %>
    <%= javascript_include_tag "layouts/application.js" %>
    <%= csrf_meta_tags %>
  </head>
  <body onload="checkTrello(loadSimpleCards)">
    <nav class="navbar navbar-default" role="navigation" id="upper-bar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= periodos_dias_path %>">SimLab</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li  class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Atividades<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="<%= dias_path(data: Date.today, usuario_id: current_usuario) %>">Calendario de Atividades</a></li>
              <li><a href="<%= periodos_dias_path %>">Meus Períodos</a></li>
              <%if can? :index, Ausencia %>
                <li><a href="<%= ausencias_path %>">Minhas Ausências</a></li>
              <% end %>
              <li><a href="<%= validacao_atividades_path %>">Validação de Atividades</a></li>
            </ul>
          </li>
          <li>
            <a href="<%= projetos_path %>">Projetos</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Ferramentas<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="<%= estimativas_path %>">Planning Poker</a></li>
              <li><a href="<%= cartoes_atividades_path %>">Estatísticas</a></li>
              <li class="navbar-header">Trello</li>
              <li class="loggedout"><a id="connectLink" onclick="loginTrello(loadSimpleCards)" >Conectar</a></li>
              <li class="loggedin"><a onclick="logoutTrello()" >Log Out</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Organização<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <%if can? :see, Usuario%>
                <li><a href="<%= usuarios_path(:status => "true") %>">Usuários</a></li>
                <li class="divider"></li>
              <% end %>
              <li class="navbar-header">Financeiro</li>
              <% if can? :create_or_update, Pagamento %>
                <li><a href="<%= pagamentos_path %>">Pagamentos</a></li>
              <% else %>
                <li><a href="<%= periodos_pagamentos_path %>">Meus Pagamentos</a></li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Minha Conta<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="<%= edit_usuario_path(current_usuario) %>">Meus Dados</a></li>
              <li><a href="<%= edit_usuario_registration_path %>">Alterar Senha</a></li>
              <li><a href="<%= destroy_usuario_session_path %>" rel="nofollow" data-method="delete" >Sair</a></li>
            </ul>
          </li>
          <li>
            <div>
              Bem vindo, <b style="color: rgb(33, 147, 189);"><%= current_usuario.nome %>! </b>
              <div class="loggedin">
                Trello: <b class="fullName"></b>
              </div>
            </div>
          </li>
          <% if (Rails.env.development?) %>
          <% user_role = current_usuario.role %>
          <li>
            <center>
              Role Alterator 2000 Plus v2<br/>
              <select onchange="alterar_role(this)">
                <option value="42" <%=  ((user_role == "admin") ? "selected" : "")%> >Administrador</option>
                <option value="814" <%=  ((user_role == "usuario normal") ? "selected" : "")%> >Usuário Normal</option>
              </select>
            </center>
          </li>
          <%  end %>
        </ul>
        <img alt="InfoXYZ" src="/images/logo.jpg" style="margin: 10px 0px; height: 30px; float: right;"/>
        
      </div>
    </nav>
    <div class="messages">
      <%= render 'layouts/messages'%>
    </div>
    <%= yield %>
    
    <script>
      var alt_role = "<%= alt_role_usuarios_path %>";
      var userid = <%= current_usuario.id %>;
    </script>

    <%= javascript_include_tag javascript_include_view_js %>
  </body>
</html>
