<!DOCTYPE html>
<html>
  <head>
    <title><%= t("simlab.titulo") %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "bootstrap" %>
    <script src="/assets/client.js?key=98853929c4100832c39e0f3c505d0332"></script>
    <%= javascript_include_tag "sinlab" %>
    <%= javascript_include_tag "sliders" %>
    <%= javascript_include_tag "trello" %>
    <%= javascript_include_tag "jquery.mask.min.js" %>
    <%= javascript_include_tag "jquery-ui-1.10.3.custom.min" %>
    <%= csrf_meta_tags %>
  </head>
  <body onload="checkTrello(loadSimpleCards)">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">SimLab</a>
        <ul class="nav">
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Atividades<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="<%= periodos_dias_path %>">Minhas Atividades</a></li>
              <li><a href="<%= ausencias_path %>">Minhas Ausências</a></li>
              <li><a href="<%= validar_atividades_path %>">Validação de Atividades</a></li>
            </ul>
           </li>
          <li><a href="<%= projetos_path %>">Projetos</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Ferramentas<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="<%= estimativas_path %>">Planning Poker</a></li>
              <li><a href="<%= cartoes_atividades_path %>">Estatísticas</a></li>
              <li class="nav-header">Trello</li>
              <li class="loggedout"><a id="connectLink" onclick="loginTrello(loadSimpleCards)" >Conectar</a></li>
              <li class="loggedin"><a onclick="logoutTrello()" >Log Out</a></li>
            </ul>
           </li>
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Organização<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="<%= usuarios_path(:status => "true") %>">Usuários</a></li>
              <li class="divider"></li>
              <li class="nav-header">Financeiro</li>
              <li><a href="<%= pagamentos_path %>">Pagamentos</a></li>
            </ul>
           </li>
           <li><a href="<%= log_de_atividades_banco_de_horas_path %>">Notificações</a></li>
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Minha Conta<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="<%= edit_usuario_path(current_usuario) %>">Meus Dados</a></li>
              <li><a href="<%= edit_usuario_registration_path %>">Alterar Senha</a></li>
              <li><a href="<%= destroy_usuario_session_path %>">Sair</a></li>
            </ul>
           </li>
           <li class="nav-header">Bem vindo, <b style="color: rgb(33, 147, 189);"><%= current_usuario.nome%>! </b>
            <div class="loggedin">
               Trello: <b class="fullName"></b>
            </div> 
           </li>
        </ul>
        <img alt="InfoXYZ" src="/images/logo.jpg" style="padding: 15px 0px; height: 30px; float: right;"></img>
      </div>
    </div>
   <div class="messages">
     <%= render 'layouts/messages'%>
   </div>
   <%= yield %>
      
   <%= javascript_include_tag javascript_include_view_js %>
  </body>
</html>
