<!DOCTYPE html>
<html>
  <head>
    <title><%= t("simlab.titulo") %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "bootstrap" %>
    <script src="https://api.trello.com/1/client.js?key=98853929c4100832c39e0f3c505d0332"></script>
    <%= javascript_include_tag "sinlab" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div style="padding: 10px 35px">
      <div class="row-fluid">
        <div class="span10"></div>
        <div class="span2" style="margin-left: 15px">
          <img alt="InfoXYZ" src="/images/logo.jpg" style="padding: 15px 0px; height: 30px; float: right;"></img>
        </div>
      </div>
      <div class="row-fluid">

        <div class="span2 dropdown">
          <ul class="top-nav dropdown-menu" style="display: block; position: static;">
            <%if can? :update, :validations%>
              <li> <%= link_to t('funcionalidade.validacao.atividade'), validar_banco_de_horas_path, :class => "nav-links" %> </li>
            <%else%>
              <li> <%= link_to t('funcionalidade.log.atividade'), log_de_atividades_banco_de_horas_path, :class => "nav-links" %> </li>
            <%end%>
            <li> <%= link_to 'Meu Banco de Horas', show_mes_banco_de_horas_url, :class => "nav-links" %> </li>
          </ul>
        </div>

        <div class="span2 dropdown">
          <ul class="top-nav dropdown-menu" style="display: block; position: static;">
            <li> <%=  link_to "Projetos", projetos_path, :class => "nav-links"%> </li>
            <%if can? :see, Usuario%>
              <li> <%=  link_to "Usuários", usuarios_path, :class => "nav-links"%> </li>
            <%else%>
              <li> <%=  link_to "Meu Perfil", edit_usuario_path(current_usuario), :class => "nav-links"%> </li>
            <%end%>
          </ul>
        </div>

        <div class="span5 top-user offset3" >
          Bem vindo <b style="color: rgb(33, 147, 189);"><%= current_usuario.nome + '!'%> </b>
          <br/>
          <%= link_to "Alterar senha", edit_usuario_registration_path %>
          <br/>
          <%= link_to "Sair", destroy_usuario_session_path, :method => :delete %>
        </div>
      </div>
      <div class="messages">
        <%= render 'layouts/messages'%>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
