<!DOCTYPE html>
<html>
  <head>
    <title>SimLab</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div style="padding: 10px 35px">
      <div class="row-fluid">
        <div class="span10"></div>
        <div class="span2" style="margin-left: 15px">
          <img src="/images/logo.jpg" style="padding: 15px 0px; height: 30px; float: right;"></img>
        </div>
      </div>
      <div class="row-fluid">

        <div class="span3 dropdown">
          <ul class="top-nav dropdown-menu" style="display: block; position: static;">

            <li> <%= link_to 'Resumo', validar_banco_de_horas_path %> </li>
            <li> <%= link_to 'Meu Banco de Horas', show_mes_banco_de_horas_url %> </li>
            <li>

              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cadastros</a>
              <ul class="top-nav dropdown-menu" role="menu"  aria-labelledby="dLabel">
                <li> <%=  link_to "Projetos", projetos_path%> </li>
                <li> <%=  link_to "Usuários", usuarios_path%></li>
              </ul>

            </li>
          </ul>
        </div>

        <div class="span4"></div>

        <div class="span2 top-user" >
          Bem vindo <a style="color: rgb(33, 147, 189); font-weight: bold"><%= current_usuario.nome + '!'%> </a>
          <br/>
          <%= link_to "Alterar senha", edit_usuario_registration_path %>
          <br/>
          <%= link_to "Sair", destroy_usuario_session_path, :method => :delete %>
        </div>

        <div class="span3">
          <table class="top-table">
            <tr>
              <td rowspan="2" class="saldo">
                Saldo
              </td>
              <td class="data" style="color: rgb(0, 255, 0)">
                +40
              </td>
            </tr>
            <tr>
              <td class="data">
                47/120
              </td>

            </tr>
          </table>
        </div>
      </div>
      <div class="messages">
        <%= render 'layouts/messages'%>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
