<!DOCTYPE html>
<html>
  <head>
  <title><%= t("simlab.titulo") %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="center" style="margin-top: 70px">
      <%= render 'layouts/messages'%>
    </div>
    <%= yield %>



  </body>
</html>
